<div>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="~/Content/Games/css/screens.css">

    <div class="wrapper">
        <div class="screen screen1">
            <div class="container body-content">
            <img src="/Content/images/cosmoplay.png" width="349" height="76">
<h2>Whack a Mole</h2>
<p>Κατάφερες να βγεις από το  Circus, όμως  πρέπει να περάσεις από τα αντικείμενα του CIRCUS που προσπαθούν να σε εμποδίσουν.</p>
<ul>
  <li>Έχεις στη  διάθεσή σου 3 εργαλεία για να εξαφανίσεις τα αντίστοιχα αντικείμενα: 1  Σφυρί, 1 Κουβά με νερό και κύβους ζάχαρης</li><br />
  <li>Κάνε κλικ όσο  πιο γρήγορα μπορείς με το σωστό εργαλείο επάνω στα αντικείμενα για να τα  εξαφανίσεις</li><br />
  <li>Κορύνες= τις  χτυπάς με το σφυρί και εξαφανίζονται με 5 κλικ</li><br />
  <li>Μπαλάκια  τσίρκου= &nbsp;τα χτυπάς με το σφυρί και εξαφανίζονται με 3 κλικ</li><br />
  <li>Καπνός=  επιλέγεις τον κουβά με το νερό και εξαφανίζεται με 2 κλικ </li><br />
  <li>Άλογα=  επιλέγεις τους κύβους ζάχαρης και τα «ταΐζεις» με 1 κλικ</li><br />
  <li>Λουλούδια=  δεν πρέπει να τα χτυπήσεις. Εάν τα χτυπήσεις χάνεις πόντους</li><br />
</ul>
<p>Πρόσεξε όμως, γιατί εάν  χτυπήσεις κάποιο αντικείμενο με λάθος εργαλείο, χάνεις πόντους</p>
</div>
            <a href="/Games/ActiveGame"><img src="~/Content/images/startbutton.png" alt=""></a>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>
        jQuery.fn.center = function () {
            this.css("position", "absolute");
            this.css("top", Math.max(0, (($(window).height() - $(this).outerHeight()) / 2) +
                $(window).scrollTop()) + "px");
            this.css("left", Math.max(0, (($(window).width() - $(this).outerWidth()) / 2) +
                $(window).scrollLeft()) + "px");
            return this;
        }
        $('.screen').center();
        $(window).on('resize', function () {
            $('.screen').center();
        });

        $(document).ready(function () {
            setTimeout(function () { $('.screen').center(); }, 150);


        });
    </script>
</div>
