
<div>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="~/Content/Games/mastermind/style2.css">

    <audio preload='auto' autoplay loop id="myAudio">
        <source src="music/forrest.mp3" type="audio/mpeg">
    </audio>

    <audio preload='auto' id="poof">
        <source src="music/poof.mp3" type="audio/mpeg">
    </audio>
    <div class="wrapper">
        <div class="game mole stage1">
            <div class="logo"></div>
            <div id="time" class="clock"></div>
            <div id="score">SCORE: <span>0</span></div>
            <div class="gamewrap">
                <canvas id="myCanvas" height="200" width="960"></canvas>
                <div id="stage">
                    <div class="hole" id="hole1" data-hole="1" data-hasMole="false"></div>
                    <div class="hole" id="hole2" data-hole="2" data-hasMole="false"></div>
                    <div class="hole" id="hole3" data-hole="3" data-hasMole="false"></div>
                    <div class="hole" id="hole4" data-hole="4" data-hasMole="false"></div>
                    <div class="hole" id="hole5" data-hole="5" data-hasMole="false"></div>
                    <div class="hole" id="hole6" data-hole="6" data-hasMole="false"></div>
                    <div class="hole" id="hole7" data-hole="7" data-hasMole="false"></div>
                    <div class="hole" id="hole8" data-hole="8" data-hasMole="false"></div>
                    <div class="hole" id="hole9" data-hole="9" data-hasMole="false"></div>
                    <div class="hole" id="hole10" data-hole="10" data-hasMole="false"></div>
                    <div class="hole" id="hole11" data-hole="11" data-hasMole="false"></div>
                </div>
                <div id="weapons">
                    <div class="weapon weapon1 selected" data-weapon="1"><img src="images/weapon1.jpg" alt=""></div>
                    <div class="weapon weapon2" data-weapon="2"><img src="images/weapon2.jpg" alt=""></div>
                    <div class="weapon weapon3" data-weapon="3"><img src="images/weapon3.jpg" alt=""></div>
                </div>
                <div id="layer1"></div>
                <div id="layer2"></div>
                <div id="layer3"></div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenLite.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/jquery.gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/plugins/CSSPlugin.min.js"></script>
    <script src="js/jquery.easyaudioeffects.1.0.0.min.js"></script>
    <script src="js/watch.js"></script>
    <script src="js/mole.init.js"></script>
    <script>
        var numItems = null;
        var weapon = 1;
        var enemy = null;
        var $all = $(".hole");
        var monsters = ["monster1", "monster2", "monster2", "monster2", "monster2", "monster3", "monster4"];
        var justAdded = null;
        var game = {
            score: 0
        }
        var poof = $("#poof")[0];

        watch(game, "score", function () {
            $('#score span').html(game.score);
        });



        function shuffle(array) {
            var m = array.length,
                t, i;
            while (m) {
                i = Math.floor(Math.random() * m--);
                t = array[m];
                array[m] = array[i];
                array[i] = t;
            }
            return array;
        }

        function getRandomInt(min, max) {
            return Math.floor(Math.random() * (max - min + 1)) + min;
        }

        var level1 = 5000;
        var level2 = 4000;
        var level3 = 3000;
        var level4 = 2000;
        var level5 = 1000;
        var level = level1;
        var addEnemy = function () {
            numItems = $('.enemy').length;
            if (numItems <= 10) {

                var randHole = shuffle($all).slice(0, 1);
                while ($('.pos' + randHole.data('hole'))[0]) {
                    randHole = shuffle($all).slice(0, 1);
                    console.log('duplicate');
                }
                // if (randHole.data('hasmole') == false) {
                enemy = '<div class="enemy pos' + randHole.data('hole') + ' ' + monsters[~~(Math.random() * monsters.length)] + '" data-click="0" data-position="' + randHole.data('hole') + '"></div>';
                $('#stage').append(enemy);
                $('.pos' + randHole.data('hole')).animate({
                    top: "-=100px",
                    height: 100
                }, 300);

                setTimeout(function () {
                    $('.pos' + randHole.data('hole')).animate({
                        top: "+=100px",
                        height: 0
                    }, 300);
                    setTimeout(function () {
                        $('.pos' + randHole.data('hole')).remove();
                    }, 500)

                }, level)

                // } else {
                //     // addEnemy();
                // }
            }
        }
        var launchEnemies = function () {
            addEnemy()
            var timeoutID = window.setTimeout(launchEnemies, Math.random() * 3000);
        }

        $(document).ready(function () {
            setInterval(function () {
                if (moleTimeRemaining >= 240) {
                    level = level1;
                } else if (moleTimeRemaining >= 180 && moleTimeRemaining <= 239) {
                    level = level2;
                } else if (moleTimeRemaining >= 120 && moleTimeRemaining <= 179) {
                    level = level3;
                } else if (moleTimeRemaining >= 60 && moleTimeRemaining <= 119) {
                    level = level4;
                } else if (moleTimeRemaining >= 0 && moleTimeRemaining <= 59) {
                    level = level5;
                }
            }, 5000);
            launchEnemies();

            $('#weapons').on('click', '.weapon', function (event) {
                event.preventDefault();
                $('.weapon').removeClass('selected');
                $(this).addClass('selected');
                weapon = $(this).data('weapon');
                console.log('active weapon: ' + weapon);
                /* Act on the event */
            });

            $('body').on('click', '.monster1', function (event) {
                event.preventDefault();
                var that = $(this);
                var position = that.data();
                setTimeout(function () {
                    that.remove();
                }, 250);

                game.score += 5;
                var boom = '<div class="boom position' + position.position + '"><img src="images/boom.gif?' + (new Date).getTime() + '"/></div>';
                poof.play();
                $('#stage').append(boom);
                setTimeout(function () {
                    $('.boom.position' + position.position).remove();
                }, 700);
            });

            $('body').on('click', '.monster2', function (event) {
                event.preventDefault();
                if (weapon != 2) {
                    return;
                }
                var that = $(this);
                var position = that.data();
                var clicks = that.data();
                clicks.click += 1;
                if (clicks.click == 3) {
                    $('.monster2').length;
                    $('.monster2').each(function (index, el) {
                        game.score += 2;
                        var position = $(this).data();
                        var boom = '<img class="boom position' + position.position + '" src="images/boom.gif?' + (new Date).getTime() + '"/>';
                        $('#stage').append(boom);
                        poof.play();

                        setTimeout(function () {
                            $('.boom.position' + position.position).remove();
                        }, 700);
                    });
                    setTimeout(function () {
                        $('.monster2').remove();
                    }, 250)
                }
            });

            $('body').on('click', '.monster3', function (event) {
                event.preventDefault();
                if (weapon != 3) {
                    return;
                }
                game.score += 10;
                var that = $(this);
                var position = that.data();
                setTimeout(function () {
                    that.remove();
                }, 250);
                var boom = '<img class="boom position' + position.position + '" src="images/boom.gif?' + (new Date).getTime() + '"/>';
                $('#stage').append(boom);
                poof.play();
                setTimeout(function () {
                    $('.boom.position' + position.position).remove();
                }, 700);

                /* Act on the event */
            });

            $('body').on('click', '.monster4', function (event) {
                if (weapon != 1) {
                    return;
                }
                event.preventDefault();
                var that = $(this);
                var clicks = that.data();
                var position = that.data();
                clicks.click += 1;
                if (clicks.click == 5) {
                    game.score += 20;
                    setTimeout(function () {
                        that.remove();
                    }, 250)
                    var boom = '<img class="boom position' + position.position + '" src="images/boom.gif?' + (new Date).getTime() + '"/>';
                    $('#stage').append(boom);
                    poof.play();
                    setTimeout(function () {
                        $('.boom.position' + position.position).remove();
                    }, 700);

                }
            });




        });
    </script>
</div>

</html>
