@{
    ViewBag.Title = "Συγχαρητήρια!";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Το email σου επιβεβαιώθηκε επιτυχώς. Πάτα @Html.ActionLink("εδώ για να συνδεθείς", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
