@{
    ViewBag.Title = "Ανάκτηση κωδικού πρόσβασης";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Παρακαλώ ελέγξτε το email σας για περαιτέρω οδηγίες.
    </p>
</div>
	
