@{
    ViewBag.Title = "Επιβεβαίωση επαναφοράς κωδικού";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Η αλλαγή κωδικού σας ήταν επιτυχής. Παρακαλώ @Html.ActionLink("πάτηστε εδώ για να συνδεθείτε", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
