@section Scripts {

}
<br />

<div class="noactivegame-message">
    <span style="font-size: 24px; font-weight: bold;text-shadow: 0 2px 2px #000000;text-align: center;">Μπες ξανά στο site στις 10 Μαΐου και δες αν κατάφερες να περάσεις στην επόμενη φάση του παιχνιδιού. Γνώρισε την ομάδα σου και συνέχισε να παίζεις συλλέγοντας πόντους για αυτήν!</span>
</div>
