@section Scripts {

}
<br />

<script>
    // add the class to force the styling of activegamemap
    $(document).ready(function () {
        $('body').addClass('games_activegamemap');
    })
</script>

<div class="noactivegame-message">
    <span style="font-size: 24px; font-weight: bold;text-shadow: 0 2px 2px #000000;text-align: center;">
        <!--Μπες ξανά στο site στις 10 Μαΐου και δες αν κατάφερες να περάσεις στην επόμενη φάση του παιχνιδιού. Γνώρισε την ομάδα σου και συνέχισε να παίζεις συλλέγοντας πόντους για αυτήν!-->
        <span>Το ταξίδι σου στον κόσμο του μαγεμένου τσίρκου ολοκληρώθηκε! <br /> Η μεγάλη στιγμή για σένα και την ομάδα σου έφτασε… <br /> Μπές στο cosmoplay.gr την Πέμπτη 18 Μαΐου για να μάθεις εάν προκρίθηκες στον Τριήμερο Τελικό στο Πόρτο Χέλι! (26-28 Μαΐου). </span>

    </span>
</div>
