@section Scripts {

}


<div class="jumbotron">
    <h1> Hello @User.Identity.Name </h1>
    <p><a class="btn btn-primary btn-lg" href="@Url.Action("ActiveGameMap", "Games")" role="button">Start Playing</a></p>

</div>
