@section Scripts {

}


@*<div class="jumbotron">
    <img src="/Content/images/cosmotelogo.png" id="cosmologo">

        <h1> Hello @User.Identity.Name </h1>
        <p><a class="btn btn-primary btn-lg" href="@Url.Action("Group", "Games")" role="button">Start Playing</a></p>

    </div>*@

<div class="wrapper">
    <div class="screen screen1">
        <div class="row">
            <div class="col-md-3">

            </div>

            <div class="col-md-6">

                <h1>Το ταξίδι σου στον κόσμο του μαγεμένου τσίρκου ολοκληρώθηκε!</h1>
                <p>Η μεγάλη στιγμή για σένα και την ομάδα σου έφτασε… </p>
                <p>Μπές στο cosmoplay.gr την Πέμπτη 18 Μαΐου για να μάθεις εάν προκρίθηκες στον Τριήμερο Τελικό στο Πόρτο Χέλι! (26-28 Μαΐου).</p>
            </div>
            <div class="col-md-3">

            </div>
        </div>


    </div>
</div>
