<div class="paper">
<p>Φανταχτερά κοστούμια, εντυπωσιακοί ακροβάτες, ριψοκίνδυνοι θηριοδαμαστές, κομπέρ, παλιάτσοι, μάγοι και μάντισσες, παράξενα πλάσματα και θεαματικά παιχνίδια… Η ατμόσφαιρα του φετινού Cosmoplay έχει κάτι φαντασμαγορικό και μυστηριώδες!</p>
<p>Καλώς ήρθατε στο <strong>COSMOPLAY CIRCUS!</strong></p>
<p>To σενάριο απλό αλλά μυστηριώδες…</p>
<p>ΤΙ ΠΡΕΠΕΙ ΝΑ ΚΑΝΕΙΣ…</p>
<p>Για τα ταξιδέψεις στον κόσμο του μαγεμένου τσίρκου θα πρέπει <strong>αρχικά να κάνεις την εγγραφή σου μέχρι και την Τετάρτη 26 Απριλίου 2017.</strong></p>
<p style="font-style: italic">Για την καλύτερη πλοήγηση στο παιχνίδι απαιτούνται οι παρακάτω browsers:</p>
<p style="font-style: italic">PC: Edge, Chrome, Firefox</p>
<p style="font-style: italic"contenteditable="">Tablet &amp; κινητό: chrome, safari</p>
<p><strong>Το Ηλεκτρονικό Παιχνίδι θα ξεκινήσει την Πέμπτη 27 Απριλίου</strong> και θα διαρκέσει έως και τη <strong>Δευτέρα 15 Μαΐου, και περιλαμβάνει 6 διαφορετικά παιχνίδια/πίστες</strong>. Το κάθε παιχνίδι είναι ανοιχτό για 3 ημέρες, διαρκεί 5 λεπτά και αντιστοιχεί σε ένα σημείο του μαγεμένου CIRCUS! Μπορείς να παίζεις καθημερινά αλλά μια φορά ημερησίως και μόνο για 5 λεπτά, κάνοντας &nbsp;login στο site. Στόχος κάθε πίστας είναι να ολοκληρώσεις το παιχνίδι στον καλύτερο δυνατό χρόνο και πριν περάσουν τα 5 λεπτά. <span style="text-decoration: underline">Θυμίζουμε ότι φέτος μπορείς να παίρνεις μέρος στο παιχνίδι από τον προσωπικό ή εταιρικό υπολογιστή σου καθώς και από το tablet ή το κινητό σου.</span></p>
<p>Στα τέσσερα πρώτα παιχνίδια παίζεις ατομικά, ενώ στα δύο τελευταία, βάσει καλύτερης βαθμολογίας, χωρίζεστε σε ομάδες και παίζεις συλλέγοντας πόντους για την ομάδα σου!</p>
<p>Αν τα καταφέρεις, θα βρεθείς στον μεγάλο τελικό και θα γνωρίσεις το Circus από κοντά!</p>
<p>Και θυμήσου πριν ξεκινήσεις να διαβάσεις τους αναλυτικούς όρους και προϋποθέσεις συμμετοχής στο παιχνίδι!</p>
<p>Αν αντιμετωπίσεις οποιοδήποτε πρόβλημα μπορείς να απευθυνθείς:</p>
<p>Για τεχνική υποστήριξη: <a href="mailto:support@cosmoplay.gr">support@cosmoplay.gr</a></p>
<p>Για οποιαδήποτε άλλη πληροφορία: <a href="mailto:cosmoplay@cosmoplay.gr">cosmoplay@cosmote.gr</a></p>
<p>Καλή διασκέδαση και καλή επιτυχία!</p>
<br>
</div>