<p>Φανταχτερά κοστούμια, εντυπωσιακοί ακροβάτες, ριψοκίνδυνοι θηριοδαμαστές, κομπέρ, παλιάτσοι, μάγοι και μάντισσες, παράξενα πλάσματα και θεαματικά παιχνίδια… Η ατμόσφαιρα του φετινού Cosmoplay έχει κάτι φαντασμαγορικό και μυστηριώδες!</p>
<p>Καλώς ήρθατε στο CIRCUS </p>
<p>To σενάριο απλό αλλά μυστηριώδες! </p>
<p>Έχεις βρεθεί στο CIRCUS ως ανυποψίαστος θεατής μαζί με πολλούς ακόμα θεατές. </p>
<p>Κάποια στιγμή μέσα στη νύχτα όμως, ένα αδέσποτο ξόρκι που ήρθε από τα στοιχειωμένα κλουβιά, μάγεψε το τσίρκο και το έκανε να ζωντανέψει! </p>
<p>Οι πόρτες έκλεισαν, οι performers και όλα όσα υπήρχαν στο Circus μαγεύτηκαν, με αποτέλεσμα αντί να διασκεδάζουν οι θεατές με το show, να διασκεδάζει το show με τους θεατές! Άραγε ποιος θα καταφέρει να βγει ζωντανός από το μαγεμένο Circus?</p>
<br>
<p>Ο κόσμος του παιχνιδιού αποτελείται συνολικά από έξι παιχνίδια, κάθε ένα από τα οποία αντιστοιχεί σε ένα σημείο του μαγεμένου CIRCUS.</p>
<p>Κάθε παιχνίδι είναι ανοιχτό για τρείς ημέρες και μπορείς να παίζεις κάθε μέρα για πέντε λεπτά ημερησίως.</p>
<p>Στα τέσσερα πρώτα παιχνίδια παίζεις ατομικά, ενώ στα δύο τελευταία, χωρίζεστε σε ομάδες και παίζεις συλλέγοντας πόντους για την ομάδα σου!</p>
<p>Αν τα καταφέρεις, θα βρεθείς στον μεγάλο τελικό και θα γνωρίσεις το Circus από κοντά! </p>
<p>Είσαι έτοιμος;</p>
<p>Καλή διασκέδαση και καλή επιτυχία!</p>
<br>