<h3>Διάρκεια </h3>
<p>Ο διαγωνισμός περιλαμβάνει συμμετοχή σε ηλεκτρονικό παιχνίδι και σε ταξίδι.</p>
<br>
<p>Το Ηλεκτρονικό Παιχνίδι θα διεξαχθεί από την <strong>Δευτέρα 24/04/17 και ώρα 10.00 πμ. έως τη Δευτέρα 15/05/17 και ώρα 24:00</strong>. Μετά την πάροδο του ως άνω χρονικού διαστήματος δεν θα υπάρχει δυνατότητα συμμετοχής στο Ηλεκτρονικό Παιχνίδι.  Η Διάρκεια του Ηλεκτρονικού Παιχνιδιού μπορεί να τροποποιηθεί κατόπιν σχετικής ανακοίνωσης στην ιστοσελίδα του παιχνιδιού <a href="http://www.cosmoplay.gr">www.cosmoplay.gr</a>.</p>
<br>
<p>Ο τελικός του διαγωνισμού θα πραγματοποιηθεί κατά τη διάρκεια ενός τριήμερου ταξιδιού από την <strong>Παρασκευή 26/05 μέχρι την Κυριακή 28/05 2017</strong> στη περιοχή Πόρτο Χέλι Αργολίδας, στο ξενοδοχείο AKS Porto Heli.   </p>
<br>
<h3>Συμμετοχή </h3>
<p>Για να συμμετέχει κάποιος  στο Διαγωνισμό, θα πρέπει αρχικά να λάβει μέρος στο Ηλεκτρονικό Παιχνίδι. Να εγγραφεί ηλεκτρονικά στο link <a href="http://www.cosmoplay.gr">www.cosmoplay.gr</a>, να καταχωρήσει όλα τα απαιτούμενα στοιχεία που του ζητούνται: Επώνυμο, Όνομα, εταιρικό email, τηλέφωνο, να λάβει μέρος και να ολοκληρώσει με επιτυχία το σχετικό ηλεκτρονικό παιχνίδι. </p>
<br>
<p>Ο κάθε συμμετέχων φέρει την αποκλειστική ευθύνη για την πλήρη, αληθή και ορθή συμπλήρωση και υποβολή των στοιχείων του. Ελλιπής ή μη ορθή ή μη αληθής συμπλήρωση των στοιχείων του συμμετέχοντα παρέχει δικαίωμα στη Διοργανώτρια να τον αποκλείσει από το Ηλεκτρονικό Παιχνίδι</p>
<br>
<p>Κάθε συμμετέχων έχει δικαίωμα αποκλειστικά μόνο μιας (1) συμμετοχής στον Διαγωνισμό.</p>
<br>
<p>Την <strong>Δευτέρα 24 Απριλίου 2017</strong>, θα ξεκινήσει το ηλεκτρονικό παιχνίδι «Circus», το οποίο θα είναι διαθέσιμο στο link <a href="http://www.cosmoplay.gr">www.cosmoplay.gr</a>. Το παιχνίδι περιλαμβάνει 6 διαφορετικές πίστες. Η κάθε πίστα θα είναι διαθέσιμη για 3 ημέρες. Για την ολοκλήρωση κάθε πίστας δίνονται 5 λεπτά ημερήσιου χρόνου. Κάθε παίκτης μπορεί να κάνει login στο site και να παίξει μόνο μια φορά την ημέρα. Στόχος των παικτών είναι στην κάθε πίστα να συλλέξουν όσο το δυνατόν περισσότερους βαθμούς, πριν παρέλθει ο χρόνος των 5 λεπτών ημερησίως. Κάθε πίστα περιλαμβάνει περισσότερα από ένα επίπεδα ώστε εφόσον ο παίκτης ολοκληρώνει το κάθε επίπεδο σε λιγότερο από 5 λεπτά, εμφανίζεται το επόμενο μέχρι να συμπληρωθεί ο χρόνος.</p>
<br>
<p>Στις 4 πρώτες πίστες ο παίκτης παίζει ατομικά. Στην 5η και 6η πίστα, βάσει βαθμολογίας, οι παίκτες μπαίνουν σε 12 ομάδες των 12 παικτών και παίζουν ατομικά και ομαδικά. Η κατάταξη των παικτών σε ομάδες γίνεται αυτόματα από το σύστημα βάσει αλγόριθμων που έχουν οριστεί. Το ηλεκτρονικό παιχνίδι ολοκληρώνεται στο τέλος της 6ης πίστας τη<strong> Δευτέρα 15 Μαΐου 2017 στις 24:00. Την Πέμπτη 18 Μαΐου 2017</strong> οι 144 παίκτες, δηλαδή οι 12 ομάδες που συγκέντρωσαν την υψηλότερη βαθμολογία, θα προκριθούν στον τριήμερο τελικό στο Πόρτο Χέλι. </p>
<br>
<p>Στον τριήμερο τελικό οι 12 ομάδες θα συμμετέχουν σε ψυχαγωγικά ομαδικά παιχνίδια δράσης προκειμένου να αναδειχθούν οι 3 νικήτριες ομάδες του Διαγωνισμού.</p>
<br>
<p>Η ανάδειξη των νικητών για τις κατηγορίες των δώρων 1, 2 &amp; 3, θα προκύψουν στις <strong>26-28/05</strong> στον τριήμερο τελικό του Διαγωνισμού στο Πόρτο Χέλι, όπου απαιτείται η φυσική παρουσία των συμμετεχόντων.</p>
<br>
<br>