<div class="paper"><h2 style="text-align: center"><strong>ΟΡΟΙ &amp; ΠΡΟΥΠΟΘΕΣΕΙΣ ΔΙΑΓΩΝΙΣΜΟΥ &nbsp;</strong></h2>
<h2  style="text-align: center"><strong>«COSMOPLAY»</strong></h2>
<br>

<p>H &nbsp;Διεύθυνση Πωλήσεων Καταστημάτων ΟΤΕ &amp; COSMOTE, που υπάγεται στον Chief Commercial Officer Consumer Segment Ομίλου ΟΤΕ με τη συνεργασία του Τμήματος &nbsp;Εσωτερικής Επικοινωνίας, που υπάγεται στην Executive Director Εταιρικής Επικοινωνίας Ομίλου ΟΤΕ, (εφεξής η «Διοργανώτρια»), &nbsp;ενεργώντας &nbsp;για λογαριασμό των εταιρειών ΟΤΕ και COSMOTE, διοργανώνει &nbsp;έναν εσωτερικό Διαγωνισμό (εφεξής «Διαγωνισμό»), που περιλαμβάνει &nbsp;συμμετοχή σε ένα ηλεκτρονικό παιχνίδι με τίτλο «<strong>Circus</strong>» &nbsp;Στην ιστοσελίδα <a href="http://www.cosmoplay.gr">www.cosmoplay.gr</a> (εφεξής &nbsp;«Ηλεκτρονικό Παιχνίδι») και στη συνέχεια συμμετοχή με φυσική παρουσία σε διάφορα ψυχαγωγικά ομαδικά παιχνίδια δράσης, που θα γίνουν στο Πόρτο Χέλι Αργολίδας στο ξενοδοχείο AKS Porto Heli κατά την διάρκεια του τελικού του Διαγωνισμού. &nbsp;</p>
<br>

<p>Σκοπός του παρόντος είναι ο καθορισμός των όρων &amp; προϋποθέσεων συμμετοχής στο Διαγωνισμό για την ανάδειξη των νικητών και την απόδοση των δώρων. Πιο συγκεκριμένα:</p>
<br>

<p>Οι όροι και οι προϋποθέσεις συμμετοχής στο Διαγωνισμό είναι αναρτημένοι &nbsp;στο link <a href="http://www.cosmoplay.gr">www.cosmoplay.gr</a>. </p>
<br>

<p>Δικαίωμα συμμετοχής έχουν μόνο όλοι οι εργαζόμενοι των καταστημάτων &nbsp;με την εμπορική επωνυμία « COSMOTE», 1.247 άτομα, έτσι όπως αυτά έχουν οριστεί από τη Διεύθυνση Πωλήσεων Καταστημάτων ΟΤΕ &amp; COSMOTE. </p>
<br>

<p>Οι παρόντες όροι και προϋποθέσεις μπορούν να τροποποιηθούν οποτεδήποτε κατά την απόλυτη διακριτική ευχέρεια της Διοργανώτριας η οποία μπορεί ακόμα και να ακυρώσει το Διαγωνισμό, κατόπιν σχετικής προηγούμενης ανακοίνωσης στην ιστοσελίδα &nbsp;<a href="http://www.cosmoplay.gr">www.cosmoplay.gr</a>., χωρίς να φέρει οιαδήποτε περαιτέρω ευθύνη.</p>
<br>

<ol>
  <li>
    <p><strong>Διάρκεια</strong> </p>
  </li>
</ol>
<br>

<p>Η συνολική διάρκεια του Διαγωνισμού ορίζεται από την Δευτέρα 24/4/2017 έως την Κυριακή 15/5/2017. Ειδικότερα:</p>
<br>

<p>Το Ηλεκτρονικό Παιχνίδι θα διεξαχθεί από την <strong>Δευτέρα 24/04/17 έως τη Δευτέρα 15/05/17 και ώρα 24:00</strong>. Μετά την πάροδο του ως άνω χρονικού διαστήματος δεν θα υπάρχει δυνατότητα συμμετοχής στο Διαγωνισμό. &nbsp;Η Διάρκεια του Ηλεκτρονικού Παιχνιδιού μπορεί να τροποποιηθεί κατόπιν σχετικής ανακοίνωσης στην ιστοσελίδα του παιχνιδιού <a href="http://www.cosmoplay.gr">www.cosmoplay.gr</a>.</p>
<br>

<p>Ο τελικός του Διαγωνισμού θα πραγματοποιηθεί κατά τη διάρκεια ενός τριήμερου ταξιδιού από την <strong>Παρασκευή 26/05 μέχρι την Κυριακή 28/05/ 2017</strong> στη περιοχή Πόρτο Χέλι Αργολίδας, στο ξενοδοχείο AKS Porto Heli με &nbsp;συμμετοχή σε διάφορα ψυχαγωγικά ομαδικά παιχνίδια δράσης. &nbsp;&nbsp;</p>
<br>

<ol start="2">
  <li>
    <p><strong>Συμμετοχή - Διαδικασία</strong></p>
  </li>
</ol>
<p>Για να συμμετέχει κάποιος &nbsp;στο Διαγωνισμό, θα πρέπει αρχικά να λάβει μέρος στο Ηλεκτρονικό Παιχνίδι αφού εγγραφεί ηλεκτρονικά στη φόρμα του Διαγωνισμού στην ιστοσελίδα &nbsp;<a href="http://www.cosmoplay.gr">www.cosmoplay.gr</a> και &nbsp;καταχωρήσει όλα τα απαιτούμενα στοιχεία που του ζητούνται: Επώνυμο, Όνομα, εταιρικό email, τηλέφωνο, ώστε να λάβει μέρος και να ολοκληρώσει με επιτυχία το Ηλεκτρονικό Παιχνίδι. </p>
<br>

<p>Ο κάθε συμμετέχων φέρει την αποκλειστική ευθύνη για την πλήρη, αληθή και ορθή συμπλήρωση και υποβολή των στοιχείων του. Ελλιπής ή μη ορθή ή μη αληθής συμπλήρωση των στοιχείων του συμμετέχοντα παρέχει δικαίωμα στη Διοργανώτρια να τον αποκλείσει από τον Διαγωνισμό. </p>
<p>Κάθε συμμετέχων έχει δικαίωμα αποκλειστικά μόνο μιας (1) συμμετοχής στον Διαγωνισμό.</p>
<br>

<p>Την <strong>Δευτέρα 24 Απριλίου 2017 και ώρα 10.00 πμ</strong>, θα ξεκινήσουν οι εγγραφές για το Ηλεκτρονικό Παιχνίδι στην &nbsp;ιστοσελίδα &nbsp;<a href="http://www.cosmoplay.gr">www.cosmoplay.gr</a>., οι οποίες θα διαρκέσουν μέχρι και την Τέταρτη 27 Απριλίου 2017. Η συμμετοχή στο Ηλεκτρονικό Παιχνίδι, θα ξεκινήσει την Πέμπτη 27 Απριλίου 2014. Το Ηλεκτρονικό Παιχνίδι &nbsp;&nbsp;περιλαμβάνει 6 διαφορετικές πίστες. Η κάθε πίστα θα είναι διαθέσιμη για 3 ημέρες. Η κάθε πίστα διαρκεί 5 λεπτά και κάθε παίκτης μπορεί να κάνει login στο site και να παίξει μόνο μια φορά την ημέρα. Στόχος κάθε πίστας είναι ο κάθε παίκτης να ολοκληρώσει το παιχνίδι στον καλύτερο δυνατό χρόνο και πριν παρέλθει ο χρόνος των 5 λεπτών. Κάθε πίστα περιλαμβάνει περισσότερα από ένα παιχνίδια ώστε εφόσον ο παίκτης ολοκληρώνει το κάθε παιχνίδι σε λιγότερο από 5 λεπτά, του εμφανίζεται το επόμενο μέχρι να ολοκληρωθεί ο χρόνος.</p>
<br>

<p>Στις 4 πρώτες πίστες ο παίκτης παίζει ατομικά. Στην 5η και 6η πίστα, βάσει καλύτερης βαθμολογίας, οι παίκτες &nbsp;μπαίνουν σε 12 ομάδες και παίζουν ατομικά και ομαδικά. Η κατάταξη των παικτών σε ομάδες γίνεται αυτόματα από το σύστημα βάσει αλγόριθμων που έχουν οριστεί. </p>
<br>

<p>Το Ηλεκτρονικό Παιχνίδι ολοκληρώνεται στο τέλος της 6ης πίστας τη <strong>Δευτέρα 15 Μαΐου 2017 στις 24:00. Την Τρίτη16 Μαΐου 2017</strong> οι 12 ομάδες, δηλαδή 144 παίκτες, που βάσει κατάταξης συγκέντρωσαν την υψηλότερη βαθμολογία προκρίνονται για την συμμετοχή τους στον τριήμερο τελικό του Διαγωνισμού στο Πόρτο Χέλι, που θα γίνει από την <strong>Παρασκευή 26/05 μέχρι την Κυριακή 28/05/2017</strong> προκειμένου &nbsp;να συμμετάσχουν &nbsp;σε διάφορα ψυχαγωγικά ομαδικά παιχνίδια δράσης για τα οποία θα ενημερωθούν αναλυτικά έτσι ώστε να αναδειχθούν οι νικήτριες 3 ομάδες του Διαγωνισμού.</p>
<br>

<p>Τα ονόματα των 144 νικητών που θα αποτελέσουν τις 12 αυτές ομάδες, θα αναρτηθούν στην ιστοσελίδα www.cosmoplay.gr την Πέμπτη 18/05/2017 και παράλληλα θα γίνει προσωπική ενημέρωση μέσω e-mail για την πρόκρισή τους. Στη συνέχεια και έως την μετάβαση των μελών των 12 ομάδων στο Πόρτο Χέλι, &nbsp;θα γίνεται &nbsp;συνεχής επικοινωνία με τους νικητές μέσω email και τηλεφωνικά με σκοπό την ενημέρωση για τη διαδικασία και τις λεπτομέρειες του ταξιδιού αυτού &nbsp;από τη Διεύθυνση Πωλήσεων Καταστημάτων ΟΤΕ &amp; COSMOTE.</p>
<br>

<p>Προκειμένου να δύνανται οι εργαζόμενοι να συμμετέχουν στον τριήμερο τελικό του Διαγωνισμού στο Πόρτο Χέλι, &nbsp;οι εταιρείες OTE &nbsp;και COSMOTE θα χορηγήσουν κατ΄εξαίρεση άδεια με αποδοχές μόνο στους εργαζόμενους που κατά το πρόγραμμα εργασίας &nbsp;τους θα εργάζονταν την &nbsp;Παρασκευή 26/05 και το Σάββατο 27/05 . Η σχετική άδεια με αποδοχές θα εγκριθεί ως τέτοια από τα κατά περίπτωση αρμόδια όργανα κάθε &nbsp;εταιρείας &nbsp;&nbsp;για τον εργαζόμενό αυτής που θα συμμετάσχει στο τριήμερο τελικό του Διαγωνισμού και εμπίπτει στην ανωτέρω κατηγορία.</p>
<br>

<p>Σημειώνεται ότι το ταξίδι στο Πόρτο Χέλι δεν θεωρείται υπηρεσιακό/επαγγελματικό ταξίδι, και ως εκ τούτου οι εργαζόμενοι που θα συμμετέχουν, δε θα δικαιούνται τυχόν αποζημίωση εκτός έδρας διανυκτέρευσης ή διημέρευσης, έξοδα μετάβασης ή επιστροφής, ούτε την ημέρα ταξιδιού (για όσους προβλέπεται, σύμφωνα με τις ισχύουσες Πολιτικές των Εταιρειών). Όλα τα έξοδα, όμως, διαμονής και διατροφής και μετακίνησης θα καλυφθούν ι από τις εταιρείες OTE &nbsp;και COSMOTE α. </p>
<p> </p>
<br>

<ol start="3">
  <li>
    <p><strong>Όροι - Διεξαγωγή του Τελικού του Διαγωνισμού</strong>.</p>
  </li>
</ol>
<br>

<p>Η Διοργανώτρια και οι εταιρείες ΟΤΕ/COSMOTE αναλαμβάνουν να καλύψουν, για τα μέλη των 12 ομάδων που θα προκριθούν για την συμμετοχή τους στον τελικό του Διαγωνισμού, τα έξοδα μετάβασης και επιστροφής με πούλμαν από Αθήνα προς Πόρτο Χέλι και αντίθετα, διαμονή στο ξενοδοχείο &nbsp;AKS Porto Heli &nbsp;από την Παρασκευή 26/5/2017 έως την Κυριακή 28/5/2017 και έως την ανάδειξη των τελικών νικητών του Διαγωνισμού με πλήρη παροχή γευμάτων όπως θα προσφέρονται κατά την διεξαγωγή των διάφορων ψυχαγωγικών &nbsp;ομαδικών &nbsp;παιχνιδιών δράσης. </p>
<br>

<p>Τα μέλη των 12 ομάδων, με την συμμετοχή τους στον τελικό του Διαγωνισμού, αναγνωρίζουν και αποδέχονται ρητά και ανεπιφύλακτα ότι συμμετέχουν στα ψυχαγωγικά ομαδικά παιχνίδια δράσης με αποκλειστική δική τους ευθύνη και ότι οι ΟΤΕ/ COSMOTE δεν αναλαμβάνουν την κάλυψη άλλων εξόδων πέραν των ρητά οριζομένων αμέσως ανωτέρω. Τα μέλη των 12 ομάδων φέρουν &nbsp;πλήρως και αποκλειστικώς κάθε &nbsp;ευθύνη για την συμπεριφορά τους κατά τη διάρκεια του τελικού του Διαγωνισμού &nbsp;και τις συνέπειές της και υποχρεούνται σε αποδοχή τυχόν ειδικότερων όρων που θέτουν τρίτοι που εμπλέκονται σε αυτό (π.χ. ξενοδοχεία κλπ) και κατά συνέπεια υποχρεούνται να παράσχουν &nbsp;εγγράφως, εφόσον του ζητηθεί επιβεβαίωση των όρων που καθορίζονται από τα πρόσωπα αυτά. </p>
<p>Η συμμετοχή των μελών των 12 ομάδων στον τελικό του Διαγωνισμού, &nbsp;δεν καλύπτει άλλες δαπάνες παρά μόνο αυτές που αναφέρονται στους παρόντες όρους ούτε οι ανωτέρω &nbsp;έχουν &nbsp;κάποια αξίωση ή δικαίωμα για κάλυψη τυχόν εξόδων ή αποζημιώσεων για άλλες προσωπικές δαπάνες που τυχόν προβλέπει η πολιτική &nbsp;μετακίνησης ή επαγγελματικών ταξιδιών της εταιρείας του Νικητή. Η συμμετοχή είναι οικειοθελής και δεν υπάρχει καμία οικονομική απαίτηση κατά των ΟΤΕ/ COSMOTE. &nbsp;</p>
<p>Τα μέλη των 12 ομάδων αποδέχονται ότι η Διοργανώτρια και οι εταιρείες ΟΤΕ/COSMOTE δεν φέρουν &nbsp;καμία ευθύνη και δηλώνουν &nbsp;ότι δεν διατηρούν &nbsp;καμία απαίτηση, αξίωση ή δικαίωμα κατά αυτών σε περίπτωση α) ατυχήματος ή σωματικής βλάβης ή άλλης ζημίας &nbsp;ήθελε προκληθεί σε αυτούς σχετιζόμενη άμεσα ή έμμεσα με το Διαγωνισμό και τον τελικό αυτού και β). που λόγω τυχερών γεγονότων ή ανωτέρας βίας, όπως ενδεικτικά αναφερόμενων καιρικών συνθηκών, γενικής απεργίας κλπ, δεν είναι δυνατή η πραγματοποίηση της μετάβασης στο Πόρτο Χέλι ή/και διενέργειας του τελικού του Διαγωνισμού και επίσης, αναγνωρίζουν &nbsp;ότι οι εταιρείες ΟΤΕ/COSMOTE &nbsp;δεν φέρουν καμία ευθύνη και δεν παρέχουν καμία εγγύηση ή ασφάλεια για την διεξαγωγή του τελικού του Διαγωνισμού και το ταξίδι ή/ και την διαμονή στο Πόρτο Χέλι. </p>
<br>

<ol start="4">
  <li>
    <p><strong>Ανάδειξη νικητών</strong>. </p>
  </li>
</ol>
<p>Κατά την λήξη του τριήμερου τελικού του Διαγωνισμού στο Πόρτο Χέλι θα γίνει η ανάδειξη των τριών (3) νικητήριων ομάδων που ανάλογα με την σειρά ανάδειξης τους, θα είναι δικαιούχοι των κατηγοριών ς των δώρων 1, 2 &amp; 3 και σύμφωνα με τη σειρά κατάταξής τους από τη βαθμολογία τους στα ομαδικά παιχνίδια όπως ολοκληρώθηκαν με την φυσική συμμετοχή τους. </p>
<br>

<ol start="5">
  <li>
    <p><strong>Δώρα - Διαδικασία απόδοσης</strong> </p>
  </li>
</ol>
<p>Τα Δώρα του Διαγωνισμού που δικαιούνται &nbsp;οι 3 πρώτες ομάδες των 12 παικτών έκαστη, δηλαδή οι &nbsp;εκατόν σαράντα τέσσερις (144) νικητές, είναι τα ακόλουθα &nbsp;(εφεξής τα «Δώρα»):</p>
<br>
<br>

<div>
  <table>
    <colgroup>
      <col width="254">
      <col width="239">
      <col width="85">
    </colgroup>
    <tr>
      <td><p>Νικητές</p></td>
      <td><p>Δώρο</p></td>
      <td><p>Αριθμός δώρων</p></td>
    </tr>
    <tr>
      <td><p>1η κατηγορία δώρων</p></td>
      <td><p>Ένα πακέτο διακοπών από το πρακτορείο GS TRAVEL, έως 800€ σε προορισμό της επιλογής τους. &nbsp;</p></td>
      <td><p>12</p></td>
    </tr>
    <tr>
      <td><p>2η κατηγορία δώρων</p></td>
      <td><p>SAMSUNG GALAXY A3 (2017)</p></td>
      <td><p>12</p></td>
    </tr>
    <tr>
      <td><p>3η κατηγορία δώρων</p></td>
      <td><p>Wireless Speaker SONY X33B</p></td>
      <td><p>12</p></td>
    </tr>
  </table>
</div>
<br>
<br>

<p>Τα Δώρα είναι προσωπικά και δεν μπορούν να μεταβιβαστούν σε τρίτο πρόσωπο. Ο νικητής δεν έχει δικαίωμα να ζητήσει οποιοδήποτε χρηματικό ή άλλο αντάλλαγμα αντί του συγκεκριμένου δώρου που δικαιούται. </p>
<br>

<p>Οι νικητές των Δώρων όλων των κατηγοριών θα παραλάβουν τα δώρα τους στον τελικό του Διαγωνισμού που θα διεξαχθεί στο Πόρτο Χέλι</p>
<br>

<p>Οι ΟΤΕ/COSMOTE δεν φέρουν καμία ευθύνη ποινική ή αστική προς οποιονδήποτε συμμετέχοντα στον τελικό ή νικητή ή τρίτο, για οποιοδήποτε ατύχημα ήθελε συμβεί και/ή ζημία και/ή για οποιαδήποτε σωματική ή άλλη βλάβη ήθελε προκληθεί σε αυτούς σχετιζόμενη άμεσα ή έμμεσα με το Διαγωνισμό και τον τελικό αυτού ή/και τα &nbsp;Δώρα που είναι προϊόντα, τη χρήση τους &nbsp;ή για οποιαδήποτε άλλη αιτία. Ειδικότερα, δεν ευθύνονται για την καλή λειτουργία των Δώρων, ούτε παρέχουν κανενός είδους εγγύηση και για οποιοδήποτε πρόβλημα προκύψει από τη χρήση αυτών, οι νικητές θα πρέπει να απευθύνονται αποκλειστικά στην κατασκευάστρια εταιρεία ή στον αντιπρόσωπό της στην Ελλάδα.</p>
<br>

<p>Η Διοργανώτρια διατηρεί το δικαίωμα να τροποποιήσει τα Δώρα καθώς και τον αριθμό αυτών με αντίστοιχη τροποποίηση και του αριθμού των τελικών νικητών. Η ευθύνη των ΟΤΕ/COSMOTE περιορίζεται αποκλειστικά και μόνο στη διάθεση των προγραμματισμένων Δώρων.</p>
<br>
<br>

<p>Όροι για το Δώρο «πακέτο διακοπών από το <strong>GS Travel</strong>» </p>
<p>Τα Δώρα που αποτελούν πακέτο διακοπών από το Πρακτορείο GS TRAVEL, έως 800€ σε προορισμό της επιλογής τους, παρέχονται σύμφωνα με τους παρακάτω όρους και ο κάθε νικητής για την χρήση του Δώρου του θα πρέπει να επικοινωνεί με το πρακτορείο GS TRAVEL..., που έχει αναλάβει και την παροχή του Δώρου, ενώ οι Διοργανώτριες μετά την απόδοση του απαλλάσσονται από κάθε σχετική ευθύνη που αφορά άμεσα ή έμμεσα το Δώρο. </p>
<br>

<ol>
  <li>
    <p>Το χρονικό διάστημα που μπορούν οι νικητές, να πραγματοποιήσουν το ταξίδι το οποίο και θα επιλέξουν οι ίδιοι είναι έως 30/05/2018. </p>
  </li>
  <li>
    <p>Οι &nbsp;νικητές &nbsp;θα πρέπει να αξιοποιήσουν το δώρο τους στο πλαίσιο της κανονικής ετήσιας άδειας που δικαιούνται. </p>
  </li>
  <li>
    <p>Κάθε νικητής υποχρεούται ι να αξιοποιήσει το Δώρο ο ίδιος , αλλά δικαιούται εφόσον το επιθυμεί να δηλώσει ως συνοδό/ους και άλλα άτομα της επιλογής του. &nbsp;</p>
  </li>
  <li>
    <p>Σε περίπτωση που το κόστος του ταξιδιού ξεπερνάει τα 800€, τη δαπάνη αναλαμβάνει ο ίδιος ο εργαζόμενος. </p>
  </li>
  <li>
    <p>Το κάθε Δώρο ισχύει μόνο για 1 πακέτο διακοπών, αξίας έως 800€, επιλογής του νικητή. Οι νικητές δεν έχουν δικαίωμα να ζητήσουν οποιοδήποτε χρηματικό αντάλλαγμα σε περίπτωση ακύρωσης ή ματαίωσης του ταξιδιού τους ή αδυναμίας τους να ταξιδέψουν για οποιονδήποτε λόγο.</p>
  </li>
  <li>
    <p>Νικητές με κινητικά, διανοητικά ή άλλα προβλήματα θα ταξιδέψουν με ιδία ευθύνη, απαλλασσόμενης των Διοργανωτριών από οποιαδήποτε ευθύνη, συνοδευόμενα από άτομα που θα υποδείξουν οι ίδιοι.</p>
  </li>
  <li>
    <p>Το ταξίδι ισχύει μόνο για το δρομολόγιο που θα καθορίσει ο νικητής με το ταξιδιωτικό γραφείο. </p>
  </li>
  <li>
    <p>Δεδομένου ότι η διοργάνωση του ταξιδιού έχει αναληφθεί από το νικητή σε συνεργασία με το ταξιδιωτικό γραφείο, η συμμετοχή των νικητών προϋποθέτει την εκ μέρους τους ρητή και έγγραφη αποδοχή των ειδικότερων όρων που θέτουν οι τρίτοι αυτοί (ιδίως πράκτορες, αεροπορικές εταιρίες και λοιπά εμπλεκόμενα πρόσωπα). Κατά συνέπεια, οι νικητές &nbsp;υποχρεούνται να παράσχουν εγγράφως, εφόσον τους ζητηθεί, έγγραφη επιβεβαίωση των όρων που καθορίζονται από τα πρόσωπα αυτά και αφορούν τη συμμετοχή τους στο ταξίδι.</p>
  </li>
  <li>
    <p>Εφόσον η συμμετοχή στο ταξίδι προϋποθέτει την έκδοση στο όνομα των νικητών έγκυρων ταξιδιωτικών εγγράφων (διαβατηρίου) και ανάλογα με την εθνικότητα ή την ιθαγένειά τους ενδεχομένως και θεώρηση ταξιδιού (Visa), οι ΟΤΕ/COSMOTE δεν θα ευθύνονται σε περίπτωση κατά την οποία οι νικητές δεν είναι σε θέση να εξασφαλίσουν, για οποιονδήποτε λόγο, τα σχετικά έγγραφα, η νομική τάξη των οποίων αποτελεί προϋπόθεση της συμμετοχής. Η μέριμνα και η δαπάνη της έκδοσης των παραπάνω εγγράφων βαρύνει αποκλειστικά τους νικητές.</p>
  </li>
  <li>
    <p>Η συμμετοχή στο ταξίδι γίνεται με αποκλειστική ευθύνη των νικητών, σε κάθε περίπτωση Στο ευρύτερο μέτρο που είναι επιτρεπτό από το κατά περίπτωση ισχύον εφαρμοστέο δίκαιο, οι ΟΤΕ/COSMOTE, οι ταξιδιωτικοί πράκτορες, οι αεροπορικές εταιρείες και οι λοιποί εμπλεκόμενοι φορείς απαλλάσσονται από κάθε ευθύνη. Ειδικότερα, οι ΟΤΕ/COSMOTE δεν υπέχουν οποιαδήποτε ευθύνη για καθυστερήσεις δρομολογίων, ατυχήματα, ασθένειες ή πταίσμα των προσώπων τα οποία αναλαμβάνουν την παροχή υπηρεσιών οποιασδήποτε μορφής σε οποιοδήποτε στάδιο του ταξιδιού επιλογής του νικητή.</p>
  </li>
  <li>
    <p>Οι νικητές φέρουν πλήρως και αποκλειστικώς κάθε οικονομική και άλλη ευθύνη για την συμπεριφορά τους κατά τη διάρκεια του ταξιδιού και τις συνέπειές της.</p>
  </li>
  <li>
    <p>Οι νικητές αναγνωρίζουν ότι οι ΟΤΕ/ COSMOTE δεν φέρουν καμία ευθύνη και δηλώνουν ότι δεν διατηρούν καμία απαίτηση, αξίωση ή δικαίωμα κατά αυτών σε περίπτωση που λόγω ανωτέρας βίας, όπως ενδεικτικά αναφερόμενων καιρικών συνθηκών, απεργίας, δεν είναι δυνατή η πραγματοποίηση του ταξιδιού προς τον προορισμό κάθε Δώρου. Επίσης, αναγνωρίζουν ότι οι ΟΤΕ/ COSMOTE δεν φέρουν καμία ευθύνη και δηλώνουν ότι δεν διατηρούν καμία απαίτηση, αξίωση ή δικαίωμα κατά αυτής για κάλυψη τυχόν εξόδων λόγω ματαίωσης ή αναβολής ή αλλαγής του προορισμού του ταξιδιού. </p>
  </li>
</ol>
<br>
<br>

<ol start="6">
  <li>
    <p><strong>Λοιποί Όροι</strong> </p>
  </li>
</ol>
<br>

<p>Οι συμμετέχοντες στο Διαγωνισμό &nbsp;παρέχουν τη συγκατάθεση τους και εξουσιοδότηση στη Διοργανώτρια για την προβολή του Διαγωνισμού ή/και των αποτελεσμάτων του (π.χ. κατάλογο των νικητών, φωτογραφίες, φιλμ και βίντεο) μέσω ενδοδικτύου, ραδιοφώνου, τηλεόρασης, κινηματογράφου καθώς και μέσω του έντυπου και ηλεκτρονικού τύπου ή και του INTERNET (συμπεριλαμβανόμενου internet και social media), ατελώς, η δε συμμετοχή στο Διαγωνισμό &nbsp;παρέχει αυτομάτως και την προς τούτο συναίνεση και εκχώρηση των αναγκαίων δικαιωμάτων (πνευματικών, εκμετάλλευσης) χωρίς καμία άλλη απαίτηση κατά των ΟΤΕ/COSMOTE.</p>
<br>

<p>Οι συμμετέχοντες αναγνωρίζουν ότι η μόνη ευθύνη των ΟΤΕ/COSMOTE είναι η απόδοση των προγραμματισμένων Δώρων του Διαγωνισμού, όπως αυτά αναφέρονται στους παρόντες όρους και δεν φέρουν ουδεμία περαιτέρω ευθύνη.</p>
<br>

<p>Με την παροχή των πρόσθετων προσωπικών τους στοιχείων, οι συμμετέχοντες συναινούν ανεπιφύλακτα να χρησιμοποιηθούν αυτά για τους σκοπούς του Διαγωνισμού και διατηρούνται από την Διοργανώτρια για την ολοκλήρωση των σκοπών αυτών είτε μέσω των ΟΤΕ/COSMOTE και AMUSE είτε μέσω των συνεργατών τους που ενεργούν κατ΄εντολή και για λογαριασμό τους και στη συνέχεια καταστρέφονται. Οι συμμετέχοντες διατηρούν τα δικαιώματα των άρθρων 11-13 του ν. 2472/1997 (πρόσβασης, ενημέρωσης και αντίρρησης) τα οποία μπορούν να ασκήσουν επικοινωνώντας με &nbsp;το Τμήμα Εσωτερικής Επικοινωνίας με email, στην κα Κατερίνα Παπαδοπούλου (kapapadop@cosmote.gr, 210 6177694) και την κα Μαρία Ξενιού (mxeniou@ote.gr, 210 6116195).</p>
<br>

<ol start="7">
  <li>
    <p><strong>Αποδοχή Όρων</strong> </p>
  </li>
</ol>
<p>Η συμμετοχή στο &nbsp;Διαγωνισμό &nbsp;προϋποθέτει και συνεπάγεται ρητή και ανεπιφύλακτη αποδοχή του συνόλου των παρόντων όρων, όπως αυτοί θα βρίσκονται αναρτημένοι στην ιστοσελίδα www.cosmoplay.gr. . Σε περίπτωση που συμμετέχων ή/και νικητής, δεν πληροί σωρευτικά τους όρους και τις προϋποθέσεις συμμετοχής στο Διαγωνισμό, &nbsp;τότε αυτομάτως ακυρώνεται η συμμετοχή του, σύμφωνα με τα ειδικότερα οριζόμενα στους παρόντες όρους. &nbsp;</p>
<br>
</div>