
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="style.css">
    <script type="text/javascript" src="http://gc.kis.scr.kaspersky-labs.com/98ED359D-ACE0-7D47-B6AD-420C333347CE/main.js" charset="UTF-8"></script>
</head>
<body>
    <audio autoplay preload='auto' loop id="myAudio">
        <source src="music/lockbg.mp3" type="audio/mpeg">
    </audio>
    <audio id="correct" preload="auto">
        <source src="music/correct.mp3"></source>
    </audio>
    <audio id="wrong" preload="auto">
        <source src="music/locked.mp3"></source>
    </audio>

    <div class="wrapper">
        <div class="game questions stage1">
            <div class="logo"></div>
            <div id="time" class="clock"></div>
            <div class="gamewrap">
                <div class="locks">
                    <img class="lock" id="lock1" src="images/locks/1.png">
                    <img class="lock" id="lock33" src="images/locks/2.png">
                    <img class="lock" id="lock2" src="images/locks/2.png">
                    <img class="lock" id="lock3" src="images/locks/3.png">
                    <img class="lock" id="lock4" src="images/locks/4.png">
                    <img class="lock" id="lock5" src="images/locks/5.png">
                    <img class="lock" id="lock6" src="images/locks/6.png">
                    <img class="lock" id="lock7" src="images/locks/7.png">
                    <img class="lock" id="lock8" src="images/locks/8.png">
                    <img class="lock" id="lock9" src="images/locks/9.png">
                    <img class="lock" id="lock10" src="images/locks/10.png">
                    <img class="lock" id="lock11" src="images/locks/11.png">
                    <img class="lock" id="lock12" src="images/locks/12.png">
                    <img class="lock" id="lock13" src="images/locks/13.png">
                    <img class="lock" id="lock14" src="images/locks/14.png">
                    <img class="lock" id="lock15" src="images/locks/15.png">
                    <img class="lock" id="lock16" src="images/locks/16.png">
                    <img class="lock" id="lock17" src="images/locks/17.png">
                    <img class="lock" id="lock18" src="images/locks/18.png">
                    <img class="lock" id="lock19" src="images/locks/19.png">
                    <img class="lock" id="lock20" src="images/locks/20.png">
                    <img class="lock" id="lock21" src="images/locks/21.png">

                    <img class="lock" id="lock22" src="images/locks/2.png">
                    <img class="lock" id="lock23" src="images/locks/4.png">
                    <img class="lock" id="lock24" src="images/locks/6.png">
                    <img class="lock" id="lock25" src="images/locks/8.png">
                    <img class="lock" id="lock26" src="images/locks/10.png">
                    <img class="lock" id="lock27" src="images/locks/12.png">
                    <img class="lock" id="lock28" src="images/locks/14.png">
                    <img class="lock" id="lock29" src="images/locks/16.png">
                    <img class="lock" id="lock30" src="images/locks/18.png">
                    <img class="lock" id="lock32" src="images/locks/21.png">

                </div>
                <div id="attempts">Έχεις <div id="s1">άλλα</div> <span></span> <div id="s2">κλειδιά</div></div>
                <div id="success">
                    <div class="message">
                        <h1>FIN!</h1>
                        <p>Τέλος για σήμερα! <br>Επέστρεψε αύριο για να κερδίσεις ακόμα περισσότερους πόντους!</p>
                    </div>
                </div>
                <div id="quiz">
                    <div id="question"></div>
                    <button class="answer" id="a1" data-answer="1"></button>
                    <button class="answer" id="a2" data-answer="2"></button>
                    <button class="answer" id="a3" data-answer="3"></button>
                    <button class="answer" id="a4" data-answer="4"></button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/jquery.easyaudioeffects.1.0.0.min.js"></script>
    <script src="js/jquery.glow.js"></script>
    <script src="js/questions.init.js"></script>
    <script>
        var correct = $("#correct")[0];
        var wrong = $("#wrong")[0];


        var questions = null;
        var qcount = null;
        var tries = 8;
        var currentQ = null;
        var randomQ = null;
        var correctAnswer = null;
        var clearClasses = function () {
            setTimeout(function () {
                $('.answer').removeClass('wrong').removeClass('correct');
                $('#quiz').removeClass('blocked');
            }, 500);
        }
        $(document).ready(function () {
            $('.lock').hover(function () {
                $(this).glow({ radius: "8", color: "#fffb3d" });
            }, function () {
                $(this).glow({ disable: true });
            });
            $('#attempts span').html(tries);

            $.ajax({
                url: 'http://amusegr.eu/circus/questions.json',
                type: 'get',
                dataType: 'json',
                error: function (data) {
                    console.log('problem');
                },
                success: function (data) {
                    questions = data;
                    //console.log(questions[1]["question"]);
                    // console.log(data.length);
                }
            });

            $('body').on('click', '.lock', function (event) {

                if (tries > 0) {
                    $(this).addClass('clicked');
                }
                if (tries >= 1) {
                    tries--;
                    $('#attempts span').html(tries);
                    if (tries == 1) {
                        $('#s1').html('άλλη');
                        $('#s2').html('ερώτηση');
                    }
                    $('#quiz').fadeIn(500);
                    event.preventDefault();
                    var randomQ = questions[Math.random() * questions.length | 0];
                    $('#question').html(randomQ['question']);
                    $('#a1').html(randomQ['answer1']);
                    $('#a2').html(randomQ['answer2']);
                    $('#a3').html(randomQ['answer3']);
                    $('#a4').html(randomQ['answer4']);
                    correctAnswer = randomQ['correct'];
                    console.log(correctAnswer);
                } else {
                    return;
                }
            });
            $('body').on('click', '.answer', function (event) {
                event.preventDefault();
                $('#quiz').addClass('blocked');
                if ($(this).data('answer') == correctAnswer) {
                    $(this).addClass('correct');
                    correct.play();
                    if (tries == 0) {
                        setTimeout(function () {
                            $('#quiz').fadeOut(500);
                            clearClasses();
                            $('#success').show(500);
                            //done message
                        }, 1500);
                    } else {
                        setTimeout(function () {
                            $('#quiz').fadeOut(500);
                            clearClasses();
                        }, 1500);
                    }
                } else {
                    wrong.play();
                    $(this).addClass('wrong');
                    if (tries == 0) {
                        setTimeout(function () {
                            $('#quiz').fadeOut(500);
                            clearClasses();
                            $('#success').show(500);
                            //done message
                        }, 1500);
                    } else {
                        setTimeout(function () {
                            $('#quiz').fadeOut(500);
                            clearClasses();
                        }, 1500);
                    }
                }
            });

        });
    </script>
</body>
</html>