/*** circus css ***/

body {
    background: black;
}

    body * {
        box-sizing: border-box;
        outline: 0;
    }

@font-face {
    font-family: 'GFS';
    src: url('/Content/fonts/GFSTheokritos-Regular.eot');
    src: url('/Content/fonts/GFSTheokritos-Regular.eot?#iefix') format('embedded-opentype'), url('/Content/fonts/GFSTheokritos-Regular.woff') format('woff'), url('/Content/fonts/GFSTheokritos-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.wrapper {
    display: none;
    background: url('/Content/images/bg.jpg') no-repeat center center;
    background-size: cover;
    padding-top: 25px;
    height: 100vh;
}

    .wrapper.mapwrap {
        display: none;
        background: url('/Content/images/map/mapbg.jpg') no-repeat center center;
        background-size: cover;
        padding-top: 25px;
        height: 100vh;
    }

.clock {
    color: white;
    font-family: 'GFS';
    font-size: 36px;
    color: #feb822;
    background: -webkit-linear-gradient(top, #feb822, #d99300);
    background: linear-gradient(top, #feb822, #d99300);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 100;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

#score {
    color: white;
    font-family: 'GFS';
    font-size: 36px;
    color: #feb822;
    background: -webkit-linear-gradient(top, #feb822, #d99300);
    background: linear-gradient(top, #feb822, #d99300);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 100;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.master #score {
    font-size: 30px;
    top: 38px !important;
    left: 10px !important;
    pointer-events: none;
}

#attempts {
    color: white;
    font-family: 'GFS';
    font-size: 36px;
    color: #feb822;
    background: -webkit-linear-gradient(top, #feb822, #d99300);
    background: linear-gradient(top, #feb822, #d99300);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 100;
    position: absolute;
    top: 15px;
    left: 15px;
}

    #attempts > * {
        display: inline;
    }

#attempt {
    color: white;
    font-family: 'GFS';
    font-size: 27px;
    color: #feb822;
    background: -webkit-linear-gradient(top, #feb822, #d99300);
    background: linear-gradient(top, #feb822, #d99300);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 100;
    position: absolute;
    top: 10px;
    left: 10px;
}

.game {
    position: relative;
    width: 960px;
    height: 540px;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0 0 80px #ff3d73;
}

.logo {
    background: url(/Content/images/cosmoplay.png) no-repeat center center;
    background-size: cover;
    width: 227px;
    height: 49px;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 522;
}

.cells {
    background: url(/Content/images/cells-stage-01-bg.jpg) no-repeat center center;
    width: 960px;
    height: 540px;
}

.game.master {
    background: url(/Content/images/mastermind-bg.jpg) no-repeat center center;
    background-size: cover;
}

.game.questions {
    background: url(/Content/images/locks/bg.jpg) no-repeat center center;
    background-size: cover;
}

.game.mole {
    background: url(/Content/images/whack/bg.jpg) no-repeat center center;
    background-size: cover;
}

.overlay {
    display: none;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 199;
}

.unlock {
    display: none;
    position: relative;
    width: 600px;
    height: 15px;
    margin: 0 auto;
    text-align: center;
    font-family: 'GFS';
    z-index: 200;
    position: relative;
    padding-top: 150px;
}

.code {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 19px;
}

.codenum {
    color: #ffb923;
    font-size: 90px;
    display: inline-block;
    padding: 10px 15px;
    box-shadow: 0 0 15px #ffb923;
    border: 3px solid #ffb923;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently*/
}

#c1,
#c2 {
    margin-right: 39px;
}

#go {
    color: #000;
    background: #feb822;
    background: -webkit-linear-gradient(top, #feb822, #d99300);
    background: linear-gradient(top, #feb822, #d99300);
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    font-size: 50px;
    box-shadow: 0 5px 10px black;
    padding: 10px 21px !important;
    border: none;
    cursor: pointer;
    font-family: 'GFS';
    width: 360px;
    height: 76px;
}

    #go.wrong {
        display: block;
        animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
        transform: translate3d(0, 0, 0);
    }

#lock {
    width: 114px;
    height: 163px;
    background: url(/Content/images/lock2.png) 0 163px;
    position: absolute;
    z-index: 2;
    cursor: pointer;
}

    #lock:hover {
        background: url(/Content/images/lock2.png) 0 0px;
    }

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

.item {
    position: absolute;
}

.stage1 .item1 {
    top: 304px;
    left: 99px;
}

.stage1 .item2 {
    top: 345px;
    left: 411px;
}

.stage1 .item3 {
    z-index: 4;
    top: 407px;
    left: 483px;
}

.stage1 .item4 {
    bottom: 9px;
    left: 473px;
}

.stage1 .item5 {
    top: 392px;
    right: 188px;
}

.stage1 .item6 {
    z-index: 3;
    top: 353px;
    left: 128px;
}

.stage1 .item7 {
    z-index: 4;
    top: 383px;
    left: 203px;
}

.stage1 .item8 {
    left: 331px;
    bottom: 19px;
}

.stage1 .item9 {
    top: 250px;
    right: 226px;
}

.stage1 .item10 {
    top: 294px;
    right: 183px;
}

.stage1 .item11 {
    top: 319px;
    right: -37px;
}

.stage1 .item12 {
    bottom: -9px;
    right: 90px;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.unlock .close {
    position: absolute;
    top: 115px;
    right: 80px;
}

.popup {
    display: none;
    width: 458px;
    height: 306px;
    left: 251px;
    margin: 0 auto;
    background: black;
    margin-top: 120px;
    z-index: 100;
    position: absolute;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

    .popup img {
        display: block;
    }

    .popup .zoom img {
        display: block;
        width: 100%;
    }

    .popup .close {
        padding: 10px 10px 0 0;
    }



/*** 1.2 ***/

.stage2 .item1 {
    top: 313px;
    left: 59px;
}

.stage2 .item2 {
    top: 447px;
    left: 183px;
}

.stage2 .item3 {
    z-index: 4;
    top: 489px;
    left: 483px;
}

.stage2 .item4 {
    bottom: 12px;
    left: 473px;
}

.stage2 .item5 {
    top: 257px;
    right: 7px;
    z-index: 5;
}

.stage2 .item6 {
    z-index: 3;
    top: 312px;
    right: -63px;
}

.stage2 .item7 {
    z-index: 4;
    top: 309px;
    left: 246px;
    transform: rotateZ(-106deg);
}

.stage2 .item8 {
    left: 328px;
    transform: rotateZ(-47deg);
    bottom: 147px;
}

.stage2 .item9 {
    top: 250px;
    right: 226px;
}

.stage2 .item10 {
    top: 294px;
    right: 183px;
}

.stage2 .item11 {
    bottom: 0px;
    right: 148px;
}

.stage2 .item12 {
    bottom: 0px;
    z-index: 6;
    right: 0px;
}

/*** level 1.3 ***/

.stage3 .item1 {
    top: 164px;
    z-index: 10;
    left: 209px;
    transform: scale(0.5)
}

.stage3 .item2 {
    bottom: 100px;
    left: 464px;
}

.stage3 .item3 {
    z-index: 4;
    bottom: 37px;
    left: 141px;
}

.stage3 .item4 {
    bottom: -37px;
    left: 132px;
}

.stage3 .item5 {
    bottom: -57px;
    right: 437px;
    z-index: 5;
    transform: scale(0.7)
}

.stage3 .item6 {
    z-index: 3;
    bottom: 269px;
    right: -218px;
    transform: rotateZ(-81deg);
}

.stage3 .item7 {
    z-index: 6;
    bottom: 111px;
    right: 218px;
    transform: rotateZ(-44deg);
}

.stage3 .item8 {
    left: -49px;
    transform: rotateZ(-47deg);
    bottom: 81px;
}

.stage3 .item9 {
    bottom: 6px;
    right: 236px;
}

.stage3 .item10 {
    bottom: -21px;
    right: 110px;
}

.stage3 .item11 {
    bottom: 0px;
    right: 23px;
}

.stage3 .item12 {
    transform: scale(0.7);
    bottom: 70px;
    z-index: 6;
    right: 89px;
}




/*** level 1.4 ***/

.stage4 .item1 {
    bottom: 0px;
    z-index: 10;
    left: 326px;
    transform: scale(0.7)
}

.stage4 .item2 {
    bottom: 63px;
    left: 464px;
    transform: scale(0.7)
}

.stage4 .item3 {
    z-index: 4;
    bottom: 37px;
    left: 141px;
    transform: scale(0.7)
}

.stage4 .item4 {
    bottom: -37px;
    left: 22px;
    transform: scale(0.7)
}

.stage4 .item5 {
    bottom: 92px;
    right: 374px;
    z-index: 5;
    transform: scale(0.7)
}

.stage4 .item6 {
    z-index: 3;
    bottom: 185px;
    right: -148px;
    transform: rotateZ(-81deg) scale(0.7);
}

.stage4 .item7 {
    z-index: 6;
    bottom: 87px;
    right: 218px;
    transform: rotateZ(-44deg);
    transform: scale(0.6)
}

.stage4 .item8 {
    left: 279px;
    bottom: 81px;
    transform: scale(0.7) rotateZ(-47deg)
}

.stage4 .item9 {
    bottom: 121px;
    right: 154px;
    transform: scale(0.7)
}

.stage4 .item10 {
    bottom: -21px;
    right: 110px;
    transform: scale(0.7)
}

.stage4 .item11 {
    bottom: 128px;
    right: -52px;
    z-index: 6;
    transform: scale(0.6)
}

.stage4 .item12 {
    transform: scale(0.7);
    bottom: -51px;
    z-index: 6;
    right: -44px;
}

/*** level 1.5 ***/

.stage5 .item1 {
    bottom: -48px;
    z-index: 10;
    left: 126px;
    transform: scale(0.7)
}

.stage5 .item2 {
    bottom: 17px;
    left: 464px;
    transform: scale(0.7)
}

.stage5 .item3 {
    z-index: 4;
    bottom: 37px;
    left: 194px;
    transform: scale(0.7)
}

.stage5 .item4 {
    bottom: 4px;
    left: 22px;
    transform: scale(0.7)
}

.stage5 .item5 {
    bottom: 65px;
    right: 504px;
    z-index: 5;
    transform: scale(0.7)
}

.stage5 .item6 {
    z-index: 3;
    bottom: 5px;
    right: -148px;
    transform: rotateZ(-0deg) scale(0.7);
}

.stage5 .item7 {
    z-index: 6;
    top: -52px;
    right: 653px;
    transform: scale(0.6)
}

.stage5 .item8 {
    left: 279px;
    bottom: -28px;
    transform: scale(0.7) rotateZ(-0deg)
}

.stage5 .item9 {
    bottom: 51px;
    right: 209px;
    transform: scale(0.7)
}

.stage5 .item10 {
    bottom: -21px;
    right: 220px;
    transform: scale(0.7)
}

.stage5 .item11 {
    bottom: -17px;
    right: 2px;
    z-index: 6;
    transform: scale(0.6)
}

.stage5 .item12 {
    transform: scale(0.7);
    bottom: -9px;
    z-index: 6;
    right: 90px;
}



/*** level 2.1 ***/

.level21 .item1 {
    bottom: -48px;
    z-index: 10;
    left: -39px;
    transform: scale(0.7)
}

.level21 .item2 {
    bottom: 17px;
    left: 464px;
    transform: scale(0.7)
}

.level21 .item3 {
    z-index: 11;
    bottom: 37px;
    left: 40px;
    transform: scale(0.7) rotateZ(90deg)
}

.level21 .item4 {
    bottom: 76px;
    right: -93px;
    transform: scale(0.7)
}

.level21 .item5 {
    bottom: 65px;
    right: 504px;
    z-index: 5;
    transform: scale(0.7)
}

.level21 .item6 {
    z-index: 3;
    bottom: 5px;
    right: 80px;
    transform: rotateZ(-0deg) scale(0.7);
}

.level21 .item7 {
    z-index: 6;
    bottom: 82px;
    right: 13px;
    transform: scale(0.6)
}

.level21 .item8 {
    left: 279px;
    bottom: -28px;
    transform: scale(0.7) rotateZ(-0deg)
}

.level21 .item9 {
    bottom: 51px;
    right: 264px;
    transform: scale(0.7)
}

.level21 .item10 {
    bottom: -21px;
    right: 220px;
    transform: scale(0.7)
}

.level21 .item11 {
    bottom: -17px;
    right: 2px;
    z-index: 6;
    transform: scale(0.6)
}

.level21 .item12 {
    transform: scale(0.7);
    bottom: -9px;
    z-index: 6;
    right: 90px;
}





/*** level 2.2 ***/

.level22 .item1 {
    bottom: 124px;
    z-index: 10;
    right: -100px;
    transform: scale(0.7) rotateZ(-90deg)
}

.level22 .item2 {
    bottom: 17px;
    left: 464px;
    transform: scale(0.7)
}

.level22 .item3 {
    z-index: 11;
    bottom: 37px;
    left: 60px;
    transform: scale(0.7) rotateZ(90deg)
}

.level22 .item4 {
    bottom: -3px;
    left: 3px;
    transform: scale(0.7)
}

.level22 .item5 {
    bottom: 65px;
    right: 504px;
    z-index: 5;
    transform: scale(0.7)
}

.level22 .item6 {
    z-index: 3;
    bottom: 5px;
    right: 80px;
    transform: rotateZ(-0deg) scale(0.7);
}

.level22 .item7 {
    z-index: 6;
    bottom: 82px;
    right: 35px;
    transform: scale(0.6)
}

.level22 .item8 {
    left: 112px;
    bottom: -28px;
    transform: scale(0.7) rotateZ(40deg)
}

.level22 .item9 {
    bottom: 51px;
    right: 264px;
    transform: scale(0.7)
}

.level22 .item10 {
    bottom: -21px;
    right: 220px;
    transform: scale(0.7)
}

.level22 .item11 {
    bottom: 108px;
    right: 59px;
    z-index: 6;
    transform: scale(0.8)
}

.level22 .item12 {
    transform: scale(0.7);
    bottom: -9px;
    z-index: 6;
    right: 90px;
}








/*** level 2.3 ***/

.level23 .item1 {
    bottom: 212px;
    z-index: 10;
    right: 33px;
    transform: scale(0.7) rotateZ(-90deg)
}

.level23 .item2 {
    bottom: 17px;
    left: 464px;
    transform: scale(0.7)
}

.level23 .item3 {
    z-index: 11;
    bottom: 126px;
    left: 3px;
    transform: scale(0.7) rotateZ(0deg)
}

.level23 .item4 {
    bottom: -59px;
    left: -48px;
    transform: scale(0.7)
}

.level23 .item5 {
    bottom: 65px;
    right: 504px;
    z-index: 5;
    transform: scale(0.7)
}

.level23 .item6 {
    z-index: 3;
    bottom: 61px;
    right: 145px;
    transform: rotateZ(-0deg) scale(0.7);
}

.level23 .item7 {
    z-index: 6;
    bottom: 42px;
    right: 335px;
    transform: scale(0.6)
}

.level23 .item8 {
    left: 145px;
    bottom: 3px;
    transform: scale(0.7) rotateZ(0deg)
}

.level23 .item9 {
    bottom: 51px;
    right: 264px;
    transform: scale(0.7)
}

.level23 .item10 {
    bottom: 95px;
    right: 144px;
    transform: scale(0.7)
}

.level23 .item11 {
    bottom: 183px;
    right: 198px;
    z-index: 6;
    transform: scale(0.8)
}

.level23 .item12 {
    transform: scale(0.8);
    bottom: -40px;
    z-index: 6;
    right: -39px;
}







/*** level 2.3 ***/

.level24 .item1 {
    bottom: 190px;
    z-index: 10;
    right: -27px;
    transform: scale(0.7) rotateZ(-150deg)
}

.level24 .item2 {
    bottom: 17px;
    right: -56px;
    transform: scale(0.7)
}

.level24 .item3 {
    bottom: -23px;
    left: 3px;
    transform: scale(0.7) rotateZ(0deg)
}

.level24 .item4 {
    top: -59px;
    left: 1px;
    transform: scale(0.7)
}

.level24 .item5 {
    bottom: 27px;
    right: 357px;
    z-index: 5;
    transform: scale(0.7)
}

.level24 .item6 {
    z-index: 3;
    bottom: 284px;
    right: 18px;
    transform: rotateZ(-99deg) scale(0.7);
}

.level24 .item7 {
    z-index: 6;
    bottom: -82px;
    right: 335px;
    transform: scale(0.6)
}

.level24 .item8 {
    z-index: 2;
    left: 25px;
    bottom: 137px;
    transform: scale(0.7) rotateZ(0deg)
}

.level24 .item9 {
    bottom: 51px;
    right: 264px;
    transform: scale(0.7)
}

.level24 .item10 {
    bottom: 95px;
    right: 144px;
    transform: scale(0.7)
}

.level24 .item11 {
    bottom: -34px;
    right: 198px;
    z-index: 6;
    transform: scale(0.8)
}

.level24 .item12 {
    transform: scale(0.8) rotateZ(-40deg);
    bottom: -47px;
    z-index: 6;
    right: 13px;
}











/*** level 2.5 ***/

.level25 .item1 {
    left: 190px;
    z-index: 2;
    bottom: 0px;
    transform: scale(1) rotateZ(-0deg)
}

.level25 .item2 {
    bottom: 17px;
    right: -56px;
    transform: scale(0.7)
}

.level25 .item3 {
    bottom: -30px;
    left: 52px;
    transform: scale(0.8) rotateZ(-7deg)
}

.level25 .item4 {
    bottom: -48px;
    left: 400px;
    transform: scale(0.7)
}

.level25 .item5 {
    bottom: 73px;
    right: 357px;
    z-index: 5;
    transform: scale(0.7) rotateZ(-26deg)
}

.level25 .item6 {
    z-index: 3;
    bottom: 284px;
    right: 18px;
    transform: rotateZ(-99deg) scale(0.7);
}

.level25 .item7 {
    z-index: 6;
    bottom: 83px;
    right: 480px;
    transform: scale(0.6)
}

.level25 .item8 {
    z-index: 5;
    left: 212px;
    bottom: 96px;
    transform: scale(0.7) rotateZ(0deg)
}

.level25 .item9 {
    z-index: 4;
    bottom: 210px;
    right: -34px;
    transform: scale(0.7)
}

.level25 .item10 {
    bottom: 110px;
    right: 96px;
    transform: scale(0.7)
}

.level25 .item11 {
    bottom: -34px;
    right: 198px;
    z-index: 6;
    transform: scale(0.8)
}

.level25 .item12 {
    transform: scale(0.8) rotateZ(-40deg);
    bottom: -47px;
    z-index: 6;
    right: 13px;
}



/*** level 3.1 ***/

.level31 .item1 {
    right: -62px;
    z-index: 2;
    bottom: 184px;
    transform: scale(0.7) rotateZ(-0deg)
}

.level31 .item2 {
    bottom: 106px;
    right: 79px;
    z-index: 6;
    transform: scale(0.6) rotateZ(-53deg)
}

.level31 .item3 {
    bottom: -79px;
    left: 246px;
    transform: scale(0.8) rotateZ(-7deg)
}

.level31 .item4 {
    bottom: 148px;
    left: 530px;
    z-index: 6;
    transform: scale(0.7) rotateZ(12deg)
}

.level31 .item5 {
    bottom: 73px;
    right: 357px;
    z-index: 5;
    transform: scale(0.7) rotateZ(-26deg)
}

.level31 .item6 {
    z-index: 3;
    bottom: 284px;
    right: 18px;
    transform: rotateZ(-99deg) scale(0.7);
}

.level31 .item7 {
    z-index: 6;
    bottom: -33px;
    right: 578px;
    transform: scale(0.6)
}

.level31 .item8 {
    z-index: 5;
    right: 146px;
    bottom: -37px;
    transform: scale(0.5) rotateZ(228deg)
}

.level31 .item9 {
    z-index: 4;
    bottom: 210px;
    right: -34px;
    transform: scale(0.7);
    display: none;
}

.level31 .item10 {
    bottom: 0px;
    right: -31px;
    transform: scale(0.7)
}

.level31 .item11 {
    bottom: 78px;
    right: 155px;
    z-index: 2;
    transform: scale(0.7)
}

.level31 .item12 {
    transform: scale(0.8) rotateZ(-0deg);
    z-index: 5;
    bottom: 81px;
    z-index: 6;
    right: 247px;
}




/*** level 3.2 ***/

.level32 .item1 {
    right: 162px;
    z-index: 6;
    bottom: 233px;
    transform: scale(0.7) rotateZ(-0deg)
}

.level32 .item2 {
    bottom: 170px;
    right: 473px;
    z-index: 6;
    transform: scale(0.6) rotateZ(-53deg)
}

.level32 .item3 {
    bottom: 242px;
    left: 162px;
    z-index: 6;
    transform: scale(0.6) rotateZ(-7deg)
}

.level32 .item4 {
    bottom: 0px;
    left: 144px;
    z-index: 4;
    transform: scale(0.7) rotateZ(5deg)
}

.level32 .item5 {
    bottom: 0px;
    left: 57px;
    z-index: 5;
    transform: scale(0.7) rotateZ(-26deg)
}

.level32 .item6 {
    z-index: 3;
    bottom: 284px;
    right: 18px;
    transform: rotateZ(-99deg) scale(0.7);
}

.level32 .item7 {
    z-index: 6;
    bottom: -33px;
    right: 578px;
    transform: scale(0.6)
}

.level32 .item8 {
    z-index: 5;
    right: 146px;
    bottom: -37px;
    transform: scale(0.8) rotateZ(08deg)
}

.level32 .item9 {
    z-index: 8;
    bottom: 71px;
    right: -34px;
    transform: scale(0.5);
}

.level32 .item10 {
    bottom: -59px;
    right: -175px;
    transform: scale(0.7);
    z-index: 6
}

.level32 .item11 {
    bottom: 43px;
    right: 355px;
    z-index: 2;
    transform: scale(0.7)
}

.level32 .item12 {
    transform: scale(0.6) rotateZ(-0deg);
    z-index: 5;
    bottom: 66px;
    z-index: 6;
    right: 127px;
}








/*** level 3.3 ***/

.level33 .item1 {
    right: 162px;
    z-index: 6;
    bottom: 233px;
    transform: scale(0.7) rotateZ(-0deg)
}

.level33 .item2 {
    bottom: 3px;
    right: 273px;
    z-index: 6;
    transform: scale(0.6) rotateZ(-0deg)
}

.level33 .item3 {
    bottom: 74px;
    left: 477px;
    z-index: 6;
    transform: scale(0.6) rotateZ(-7deg)
}

.level33 .item4 {
    bottom: 0px;
    left: 144px;
    z-index: 4;
    transform: scale(0.9) rotateZ(0deg)
}

.level33 .item5 {
    bottom: 73px;
    left: 129px;
    z-index: 5;
    transform: scale(0.7) rotateZ(-26deg)
}

.level33 .item6 {
    z-index: 3;
    bottom: 44px;
    right: 18px;
    transform: rotateZ(-0deg) scale(0.7);
}

.level33 .item7 {
    z-index: 2;
    bottom: 43px;
    right: 68px;
    transform: scale(0.6)
}

.level33 .item8 {
    z-index: 5;
    left: 339px;
    top: 72px;
    transform: scale(0.8) rotateZ(08deg)
}

.level33 .item9 {
    z-index: 8;
    bottom: 123px;
    right: 58px;
    transform: scale(0.5) rotateZ(15deg);
}

.level33 .item10 {
    bottom: -56px;
    right: -30px;
    transform: scale(0.7);
    z-index: 6
}

.level33 .item11 {
    bottom: 43px;
    right: 355px;
    z-index: 2;
    transform: scale(0.7)
}

.level33 .item12 {
    transform: scale(0.6) rotateZ(-0deg);
    z-index: 5;
    bottom: 66px;
    z-index: 6;
    right: 127px;
}









/*** level 3.4 ***/

.level34 .item1 {
    right: 162px;
    z-index: 6;
    bottom: -51px;
    transform: scale(0.7) rotateZ(-0deg)
}

.level34 .item2 {
    bottom: 3px;
    right: 273px;
    z-index: 4;
    transform: scale(0.6) rotateZ(-0deg)
}

.level34 .item3 {
    bottom: 91px;
    left: 498px;
    z-index: 6;
    transform: scale(0.6) rotateZ(-7deg)
}

.level34 .item4 {
    bottom: 36px;
    left: 104px;
    z-index: 4;
    transform: scale(0.9) rotateZ(0deg)
}

.level34 .item5 {
    bottom: 7px;
    left: 132px;
    z-index: 5;
    transform: scale(0.7) rotateZ(-0deg)
}

.level34 .item6 {
    z-index: 3;
    bottom: 44px;
    right: 218px;
    transform: rotateZ(-0deg) scale(0.7);
}

.level34 .item7 {
    z-index: 5;
    bottom: 127px;
    right: 168px;
    transform: scale(0.8) rotateZ(-16deg)
}

.level34 .item8 {
    z-index: 5;
    right: 109px;
    top: 72px;
    transform: scale(0.8) rotateZ(08deg)
}

.level34 .item9 {
    z-index: 8;
    bottom: -23px;
    left: 358px;
    transform: scale(0.5) rotateZ(0deg);
}

.level34 .item10 {
    bottom: -56px;
    right: -180px;
    transform: scale(0.7);
    z-index: 6
}

.level34 .item11 {
    bottom: 74px;
    right: 384px;
    z-index: 2;
    transform: scale(0.7) rotateZ(-49deg)
}

.level34 .item12 {
    transform: scale(0.6) rotateZ(-0deg);
    z-index: 5;
    top: 181px;
    z-index: 6;
    left: 184px;
}










/*** level 3.5 ***/

.level35 .item1 {
    right: 59px;
    z-index: 6;
    bottom: -32px;
    transform: scale(0.9) rotateZ(-0deg)
}

.level35 .item2 {
    bottom: 86px;
    right: 120px;
    z-index: 4;
    transform: scale(0.8) rotateZ(-0deg)
}

.level35 .item3 {
    bottom: 49px;
    left: 498px;
    z-index: 6;
    transform: scale(0.6) rotateZ(-7deg)
}

.level35 .item4 {
    bottom: 36px;
    right: -69px;
    z-index: 4;
    transform: scale(0.9) rotateZ(-29deg)
}

.level35 .item5 {
    bottom: -46px;
    left: -69px;
    z-index: 5;
    transform: scale(0.7) rotateZ(-0deg)
}

.level35 .item6 {
    z-index: 7;
    top: 44px;
    right: 116px;
    transform: rotateZ(-0deg) scale(0.7);
}

.level35 .item7 {
    z-index: 5;
    bottom: 0px;
    right: 168px;
    transform: scale(0.8) rotateZ(-16deg)
}

.level35 .item8 {
    z-index: 5;
    right: 79px;
    top: 143px;
    transform: scale(0.8) rotateZ(08deg)
}

.level35 .item9 {
    z-index: 8;
    bottom: -23px;
    left: 358px;
    transform: scale(0.5) rotateZ(0deg);
}

.level35 .item10 {
    bottom: -4px;
    right: 350px;
    transform: scale(0.7);
    z-index: 6
}

.level35 .item11 {
    bottom: 47px;
    right: 426px;
    z-index: 2;
    transform: scale(1) rotateZ(0deg)
}

.level35 .item12 {
    transform: scale(1) rotateZ(-0deg);
    z-index: 5;
    top: 288px;
    z-index: 6;
    left: 398px;
}


/******* mastermind ********/

.master .card {
    display: block;
    width: 160px;
    position: absolute;
    border-radius: 13px;
    box-shadow: 0 0 15px black;
    transition: all ease 0.2s;
}

.gamewrap {
    height: 540px;
}

.master .card:hover,
.master .card.selected {
    box-shadow: 0 0 15px #feb822;
    border: 2px solid #feb822
}

.master .card1 {
    bottom: -75px;
    left: 140px;
    transform: rotateZ(-20deg);
}

    .master .card1:hover {
        transform: translateY(-40px) rotateZ(-20deg);
    }

    .master .card1.selected {
        bottom: -75px;
        left: 140px;
        transform: translateY(-40px) rotateZ(-20deg);
    }

.master .card2 {
    bottom: -45px;
    left: 240px;
    transform: rotateZ(-10deg);
}

    .master .card2.selected {
        bottom: -45px;
        left: 240px;
        transform: translateY(-40px) rotateZ(-10deg);
    }

    .master .card2:hover {
        transform: translateY(-40px) rotateZ(-10deg);
    }

.master .card3 {
    bottom: -31px;
    left: 340px;
    transform: rotateZ(-3deg);
}

    .master .card3.selected {
        bottom: -31px;
        left: 340px;
        transform: translateY(-40px) rotateZ(-3deg);
    }

    .master .card3:hover {
        transform: translateY(-40px) rotateZ(-3deg);
    }

.master .card4 {
    bottom: -31px;
    left: 440px;
    transform: rotateZ(3deg);
}

    .master .card4:hover {
        transform: translateY(-40px) rotateZ(3deg);
    }

    .master .card4.selected {
        bottom: -31px;
        left: 440px;
        transform: translateY(-40px) rotateZ(3deg);
    }

.master .card5 {
    bottom: -45px;
    left: 540px;
    transform: rotateZ(10deg);
}

    .master .card5:hover {
        transform: translateY(-40px) rotateZ(10deg);
    }

    .master .card5.selected {
        bottom: -45px;
        left: 540px;
        transform: translateY(-40px) rotateZ(10deg);
    }

.master .card6 {
    bottom: -75px;
    left: 640px;
    transform: rotateZ(20deg);
}

    .master .card6:hover {
        transform: translateY(-40px) rotateZ(20deg);
    }

    .master .card6.selected {
        bottom: -75px;
        left: 640px;
        transform: translateY(-40px) rotateZ(20deg);
    }

.master .slot {
    width: 120px;
    height: 185px;
    border-radius: 12px;
    transform: rotateX(-26deg);
    position: absolute;
}

.slot:hover,
.slot.selected {
    box-shadow: 0 0 15px #feb822;
    border: 2px solid #feb822;
}

.card.added {
    transform: translateY(0px) rotateZ(0deg) rotateX(-18deg) scale(0.7) !important;
}

.card.on1 {
    top: 36px;
    left: 139px !important;
}

.card.on2 {
    top: 36px;
    left: 282px !important;
}

.card.on3 {
    top: 36px;
    left: 421px !important;
}

.card.on4 {
    top: 36px;
    left: 560px !important;
}

.master #slot1 {
    top: 78px;
    left: 156px;
}

.master #slot2 {
    top: 78px;
    left: 299px;
}

.master #slot3 {
    top: 78px;
    left: 440px;
}

.master #slot4 {
    top: 78px;
    left: 581px;
}

.slots .remove {
    position: absolute;
    display: none;
    width: 40px;
    height: 40px;
    z-index: 10;
    transform: translateZ(100px) rotateZ(0deg) !important;
    background: url(/Content/images/remove.png) no-repeat center center;
    background-size: cover;
}

    .slots .remove.active {
        display: block;
    }

.slots #remove1 {
    top: 240px;
    left: 197px;
}

.slots #remove2 {
    top: 240px;
    left: 337px;
}

.slots #remove3 {
    top: 240px;
    left: 479px;
}

.slots #remove4 {
    top: 240px;
    left: 625px;
}

#solCont {
    display: block;
    position: absolute;
    width: 406px;
    height: 430px;
    position: absolute;
    top: 80px;
    right: -5px;
    z-index: 0 !important;
}

    #solCont:hover {
        z-index: 5 !important;
    }

.mCSB_inside > .mCSB_container {
    margin-right: 15px !important;
}

.mCSB_container {
    padding-left: 306px;
}

#solutions {
    display: block;
    width: 406px;
    box-sizing: border-box;
    height: 430px;
    position: relative;
}

    #solutions .prevguess {
        width: 100%;
        margin-bottom: 1%;
        transition: all ease 0.3s;
        text-align: right;
        z-index: 1000;
        position: relative;
    }

        #solutions .prevguess img {
            display: inline-block;
            width: 24%;
            margin-right: 1%;
        }

        #solutions .prevguess:hover {
            width: 300px;
            z-index: 10;
            margin-left: -219px;
        }

            #solutions .prevguess:hover img {
                box-shadow: 0 0 12px black;
            }

#solve {
    cursor: pointer;
    color: white;
    text-shadow: 0 2px #8f6712;
    display: block;
    position: absolute;
    font-family: "GFS";
    font-size: 30px;
    text-transform: uppercase;
    bottom: 21px;
    left: 385px;
    background: rgb(245, 175, 25);
    z-index: 5000;
    padding: 10px 30px;
    border-radius: 10px;
    border: 2px solid #8f6712;
    box-shadow: 0 5px 10px rgba(0,0,0,0.6);
}

    #solve:hover {
        background: rgb(247, 212, 56);
    }

.blackDot, .whiteDot {
    display: block;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 10px;
    border-radius: 5px;
}

.lasthint {
    position: absolute;
    width: 50px;
    top: -2px;
    left: -44px;
    display: block;
    margin: 0 auto;
}

.blackDot {
    background: #35812a;
}

.whiteDot {
    background: white;
    border: 1px solid white;
}

.wrong {
    display: block;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 10px;
    border-radius: 0px;
}

    .wrong img {
        display: block;
        width: 10px !important;
        height: 10px;
    }

#success, #fail {
    display: none;
    position: absolute;
    z-index: 100000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.7);
    color: white;
    font-family: "GFS";
    text-transform: uppercase;
    text-align: center;
    padding-top: 160px;
}

    #success h1, #fail h1 {
        color: #feb822;
        font-size: 56px;
        margin-bottom: -10px;
    }

.cards {
    z-index: 2;
    position: relative;
}

.slots {
    z-index: 3;
    position: relative;
}

.cards {
    pointer-events: none;
    height: 540px;
}

.card {
    pointer-events: auto;
}

#solCont, #solutions {
    pointer-events: none;
}

.prevguess {
    pointer-events: auto;
}


/****** questions ******/
#attempts {
    color: white;
}

#quiz {
    width: 450px;
    height: auto;
    position: Absolute;
    background: rgba(0,0,0,0.8);
    left: 50%;
    margin-left: -225px;
    margin-top: 74px;
    padding: 25px;
    display: none;
    z-index: 2;
    border-radius: 16px;
}

    #quiz #question {
        color: white;
        text-align: center;
        padding-bottom: 20px;
        font-size: 23px;
    }

    #quiz .answer {
        display: block;
        width: 100%;
        padding: 15px 10px;
        margin-bottom: 20px;
        border: 1px solid #feb822;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feb822+0,d99300+100 */
        background: rgb(254,184,34); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(254,184,34,1) 0%, rgba(217,147,0,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(254,184,34,1) 0%,rgba(217,147,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(254,184,34,1) 0%,rgba(217,147,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feb822', endColorstr='#d99300',GradientType=0 ); /* IE6-9 */
        color: black;
        font-weight: bold;
        font-size: 20px;
        border-radius: 24px;
        cursor: pointer;
    }

        #quiz .answer:hover {
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feb822+0,c48200+100 */
            background: rgb(254,184,34); /* Old browsers */
            background: -moz-linear-gradient(top, rgba(254,184,34,1) 0%, rgba(196,130,0,1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(254,184,34,1) 0%,rgba(196,130,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(254,184,34,1) 0%,rgba(196,130,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feb822', endColorstr='#c48200',GradientType=0 ); /* IE6-9 */
        }

    #quiz:after {
        content: '';
        display: block;
        width: 450px;
        height: 100px;
        background: transparent;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        box-shadow: 0 0 80px rgba(0,0,0,1);
    }

    #quiz .answer.correct {
        background: #00f200;
    }

    #quiz .answer.wrong {
        background: red;
    }

.blocked button {
    pointer-events: none;
}

.lock {
    position: absolute;
    display: block;
    -webkit-filter: drop-shadow(0px 25px 10px #222);
    filter: drop-shadow(0px 25px 10px #222);
}

.clicked {
    opacity: 0.3;
    pointer-events: none;
}

#lock1 {
    top: 60px;
    left: 0px;
    transform: scale(0.4);
}

#lock2 {
    top: 145px;
    left: 0px;
    transform: scale(0.4);
}

#lock3 {
    top: 272px;
    left: 0px;
    transform: scale(0.4);
}

#lock4 {
    top: 16px;
    left: 54px;
    transform: scale(0.4);
}

#lock5 {
    top: -43px;
    left: 170px;
    transform: scale(0.4);
}

#lock6 {
    top: -22px;
    left: 257px;
    transform: scale(0.4);
}

#lock7 {
    top: 19px;
    left: 378px;
    transform: scale(0.4);
}

#lock8 {
    top: 187px;
    left: 512px;
    transform: scale(0.4);
}

#lock9 {
    top: 58px;
    left: 477px;
    transform: scale(0.4);
}

#lock10 {
    top: 314px;
    left: 468px;
    transform: scale(0.4);
}

#lock11 {
    top: 146px;
    left: 84px;
    transform: scale(0.4);
}

#lock12 {
    top: 112px;
    left: 194px;
    transform: scale(0.4);
}

#lock13 {
    top: 15px;
    left: 54px;
    transform: scale(0.4);
}

#lock14 {
    top: 359px;
    left: 304px;
    transform: scale(0.4);
}

#lock15 {
    top: 339px;
    left: 380px;
    transform: scale(0.4);
}

#lock16 {
    top: 146px;
    left: 318px;
    transform: scale(0.4);
}

#lock17 {
    top: 121px;
    left: 465px;
    transform: scale(0.4);
}

#lock18 {
    top: 213px;
    left: 297px;
    transform: scale(0.4);
}

#lock19 {
    top: 244px;
    left: 200px;
    transform: scale(0.4);
}

#lock20 {
    top: 100px;
    left: 368px;
    transform: scale(0.4);
}

#lock21 {
    top: 205px;
    left: 396px;
    transform: scale(0.4);
}

#lock22 {
    top: 284px;
    left: 118px;
    transform: scale(0.4);
}

#lock23 {
    top: 305px;
    left: 555px;
    transform: scale(0.4);
}

#lock24 {
    top: 267px;
    left: 90px;
    transform: scale(0.4);
}

#lock24 {
    top: 52px;
    left: 531px;
    transform: scale(0.4);
}

#lock25 {
    top: 303px;
    left: 769px;
    transform: scale(0.4);
}

#lock26 {
    top: -12px;
    left: 633px;
    transform: scale(0.4);
}

#lock27 {
    top: 172px;
    left: 613px;
    transform: scale(0.4);
}

#lock28 {
    top: 133px;
    left: 712px;
    transform: scale(0.4);
}

#lock29 {
    top: 328px;
    left: 672px;
    transform: scale(0.4);
}

#lock30 {
    top: 224px;
    left: 694px;
    transform: scale(0.4);
}

#lock31 {
    top: 267px;
    left: 90px;
    transform: scale(0.4);
}

#lock32 {
    top: -9px;
    left: 743px;
    transform: scale(0.4);
}

#lock33 {
    top: 133px;
    left: 798px;
    transform: scale(0.4);
}


/****** whack a mole *****/
.mole * {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently*/
}

.enemy {
    width: 100px;
    height: 100px;
    display: inline-block;
    position: absolute;
    transition: all ease 0.2s;
    background-size: cover !important;
}

.monster1 {
    background: url('/Content/images/whack/skeleton.gif') no-repeat center center;
    height: 117px !important;
    width: 116px;
}

.monster2 {
    background: url('/Content/images/whack/goblin.gif') no-repeat center center;
    width: 73px;
}

.monster3 {
    background: url('/Content/images/whack/box.gif') no-repeat center center;
    width: 73px;
}

.monster4 {
    background: url('/Content/images/whack/zombie.gif') no-repeat center center;
    width: 100px;
    margin-left: -25px;
    height: 171px !important;
}

.monster5 {
    background: url('/Content/images/whack/star.gif') no-repeat center center;
    width: 73px;
}

.enemy img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.enemy.hide {
    height: 0px;
    transform: translateY(100px);
}

.mole .pos1 {
    top: 191px;
    left: 109px;
    z-index: 1
}

.mole .pos2 {
    top: 207px;
    left: 336px;
    z-index: 1
}

.mole .pos3 {
    top: 191px;
    left: 565px;
    z-index: 1
}

.mole .pos4 {
    top: 178px;
    left: 779px;
    z-index: 1
}

.mole .pos5 {
    top: 320px;
    left: 200px;
    z-index: 3
}

.mole .pos6 {
    top: 313px;
    left: 456px;
    z-index: 3
}

.mole .pos7 {
    top: 310px;
    left: 759px;
    z-index: 3
}

.mole .pos8 {
    top: 457px;
    left: 79px;
    z-index: 4
}

.mole .pos9 {
    top: 450px;
    left: 367px;
    z-index: 4
}

.mole .pos10 {
    top: 435px;
    left: 580px;
    z-index: 4
}

.mole .pos11 {
    top: 451px;
    left: 826px;
    z-index: 4
}

.boom {
    display: block;
    position: absolute;
}

    .boom.position1 {
        top: 19px;
        left: 72px;
        z-index: 2;
    }

    .boom.position2 {
        top: 25px;
        left: 302px;
        z-index: 2;
    }

    .boom.position3 {
        top: 13px;
        left: 531px;
        z-index: 2;
    }

    .boom.position4 {
        top: 3px;
        left: 753px;
        z-index: 2;
    }

    .boom.position5 {
        top: 130px;
        left: 170px;
        z-index: 4;
    }

    .boom.position6 {
        top: 130px;
        left: 425px;
        z-index: 4;
    }

    .boom.position7 {
        top: 140px;
        left: 725px;
        z-index: 4;
    }

    .boom.position8 {
        top: 280px;
        left: 45px;
        z-index: 4;
    }

    .boom.position9 {
        top: 280px;
        left: 338px;
        z-index: 4;
    }

    .boom.position10 {
        top: 258px;
        left: 548px;
        z-index: 4;
    }

    .boom.position11 {
        top: 285px;
        left: 788px;
        z-index: 4;
    }


#myCanvas {
    position: absolute;
    bottom: 0;
    height: 400px;
    pointer-events: none;
    z-index: 50;
}

.mole #layer1 {
    background: url(/Content/images/whack/layer1.png);
    display: block;
    position: absolute;
    width: 960px;
    height: 540px;
    background-size: cover;
    z-index: 5;
    pointer-events: none;
}

.mole #layer2 {
    background: url(/Content/images/whack/layer2.png);
    display: block;
    position: absolute;
    width: 960px;
    height: 540px;
    background-size: cover;
    z-index: 3;
    pointer-events: none;
}

.mole #layer3 {
    background: url(/Content/images/whack/layer3.png);
    display: block;
    position: absolute;
    width: 960px;
    height: 540px;
    background-size: cover;
    z-index: 2;
    pointer-events: none;
}

.map {
    width: 802px;
    height: 590px;
    position: relative;
    -webkit-filter: drop-shadow(0px 25px 10px rgba(0,0,0,0.4));
    filter: drop-shadow(0px 25px 10px rgba(0,0,0,0.4));
}

    .map a {
        position: absolute;
        display: block;
        bottom: -13px;
        right: 140px;
        -webkit-filter: drop-shadow(0px 25px 10px rgba(0,0,0,0.4));
        filter: drop-shadow(0px 25px 10px rgba(0,0,0,0.4));
        transition: all ease 0.2s;
    }

        .map a:hover {
            transform: scale(1.05);
        }

    .map .point {
        position: absolute;
    }

    .map .point1 {
        top: 180px;
        left: 126px;
    }

    .map .point2 {
        top: 218px;
        left: 240px;
    }

    .map .point3 {
        top: 230px;
        left: 386px;
    }

    .map .point4 {
        top: 269px;
        left: 498px;
    }

    .map .point5 {
        top: 370px;
        left: 543px;
    }

    .map .point6 {
        top: 450px;
        left: 666px;
    }

    .map .point .boom {
        width: 57px;
        height: 58px;
        display: none;
        background: url(/Content/images/map/boom.png) no-repeat;
        position: absolute;
        top: -13px;
        left: -15px;
    }

    .map .point:hover .boom, .map .point:hover .pop {
        display: block;
        cursor: pointer;
        max-height: 500;
        opacity: 1;
    }

    .map .point .xmark {
        width: 72px;
        height: 63px;
        display: block;
        position: absolute;
        top: -18px;
        left: -29px;
        z-index: 1
    }

.point .pop {
    width: 158px;
    height: 121px;
    display: block;
    position: absolute;
    top: -128px;
    left: -68px;
    z-index: 2;
    max-height: 0px;
    opacity: 0;
    transition: all ease .2s;
    pointer-events: none;
}

.map .line {
    position: absolute;
    top: 191px;
    left: 149px;
    background: url(/Content/images/map/lines.png) center center no-repeat;
    mix-blend-mode: multiply;
}

    .map .line img {
        opacity: 0;
    }



#weapons > div {
    display: inline-block;
    width: 67px;
    height: 67px;
    margin-right: 15px;
    transform: scale(0.8)
}

#weapons img {
    display: block;
}

#weapons .selected {
    box-shadow: 0 0 2px #c32a76, 0 0 10px #c32a76, 0 0 20px #c32a76;
    transform: scale(1)
}

#weapons {
    display: block;
    position: absolute;
    bottom: 3px;
    z-index: 5000;
    left: 380px;
    width: 255px;
    cursor: pointer;
}

.weapon3 {
    margin-right: 0;
}

#flash {
    background: url(/Content/images/whack/bad.png);
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    opacity: 0;
}

.map .title {
    position: absolute;
    bottom: 100px;
    left: 100px;
    display: none;
}

.title.visible {
    display: block !important;
    opacity: 1 !important;
}

/****** preloader */
#preloader {
    position: fixed;
    background: black;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 9999999999999;
}

.windows8 {
    position: relative;
    width: 42px;
    height: 42px;
    margin: 30% auto 0 auto;
}

#letsgo {
    display: none;
    margin: 30% auto 0 auto;
}

    #letsgo.show {
        display: block;
    }

.windows8 .wBall {
    position: absolute;
    width: 40px;
    height: 40px;
    opacity: 0;
    transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    animation: orbit 6.96s infinite;
    -o-animation: orbit 6.96s infinite;
    -ms-animation: orbit 6.96s infinite;
    -webkit-animation: orbit 6.96s infinite;
    -moz-animation: orbit 6.96s infinite;
}

    .windows8 .wBall .wInnerBall {
        position: absolute;
        width: 5px;
        height: 5px;
        background: rgb(255,255,255);
        left: 0px;
        top: 0px;
        border-radius: 5px;
    }

.windows8 #wBall_1 {
    animation-delay: 1.52s;
    -o-animation-delay: 1.52s;
    -ms-animation-delay: 1.52s;
    -webkit-animation-delay: 1.52s;
    -moz-animation-delay: 1.52s;
}

.windows8 #wBall_2 {
    animation-delay: 0.3s;
    -o-animation-delay: 0.3s;
    -ms-animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
}

.windows8 #wBall_3 {
    animation-delay: 0.61s;
    -o-animation-delay: 0.61s;
    -ms-animation-delay: 0.61s;
    -webkit-animation-delay: 0.61s;
    -moz-animation-delay: 0.61s;
}

.windows8 #wBall_4 {
    animation-delay: 0.91s;
    -o-animation-delay: 0.91s;
    -ms-animation-delay: 0.91s;
    -webkit-animation-delay: 0.91s;
    -moz-animation-delay: 0.91s;
}

.windows8 #wBall_5 {
    animation-delay: 1.22s;
    -o-animation-delay: 1.22s;
    -ms-animation-delay: 1.22s;
    -webkit-animation-delay: 1.22s;
    -moz-animation-delay: 1.22s;
}



@keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        transform: rotate(180deg);
        animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        transform: rotate(300deg);
        animation-timing-function: linear;
        origin: 0%;
    }

    30% {
        opacity: 1;
        transform: rotate(410deg);
        animation-timing-function: ease-in-out;
        origin: 7%;
    }

    39% {
        opacity: 1;
        transform: rotate(645deg);
        animation-timing-function: linear;
        origin: 30%;
    }

    70% {
        opacity: 1;
        transform: rotate(770deg);
        animation-timing-function: ease-out;
        origin: 39%;
    }

    75% {
        opacity: 1;
        transform: rotate(900deg);
        animation-timing-function: ease-out;
        origin: 70%;
    }

    76% {
        opacity: 0;
        transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        transform: rotate(900deg);
    }
}

@-o-keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        -o-transform: rotate(180deg);
        -o-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -o-transform: rotate(300deg);
        -o-animation-timing-function: linear;
        -o-origin: 0%;
    }

    30% {
        opacity: 1;
        -o-transform: rotate(410deg);
        -o-animation-timing-function: ease-in-out;
        -o-origin: 7%;
    }

    39% {
        opacity: 1;
        -o-transform: rotate(645deg);
        -o-animation-timing-function: linear;
        -o-origin: 30%;
    }

    70% {
        opacity: 1;
        -o-transform: rotate(770deg);
        -o-animation-timing-function: ease-out;
        -o-origin: 39%;
    }

    75% {
        opacity: 1;
        -o-transform: rotate(900deg);
        -o-animation-timing-function: ease-out;
        -o-origin: 70%;
    }

    76% {
        opacity: 0;
        -o-transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        -o-transform: rotate(900deg);
    }
}

@-ms-keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        -ms-transform: rotate(180deg);
        -ms-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -ms-transform: rotate(300deg);
        -ms-animation-timing-function: linear;
        -ms-origin: 0%;
    }

    30% {
        opacity: 1;
        -ms-transform: rotate(410deg);
        -ms-animation-timing-function: ease-in-out;
        -ms-origin: 7%;
    }

    39% {
        opacity: 1;
        -ms-transform: rotate(645deg);
        -ms-animation-timing-function: linear;
        -ms-origin: 30%;
    }

    70% {
        opacity: 1;
        -ms-transform: rotate(770deg);
        -ms-animation-timing-function: ease-out;
        -ms-origin: 39%;
    }

    75% {
        opacity: 1;
        -ms-transform: rotate(900deg);
        -ms-animation-timing-function: ease-out;
        -ms-origin: 70%;
    }

    76% {
        opacity: 0;
        -ms-transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        -ms-transform: rotate(900deg);
    }
}

@-webkit-keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        -webkit-transform: rotate(180deg);
        -webkit-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -webkit-transform: rotate(300deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin: 0%;
    }

    30% {
        opacity: 1;
        -webkit-transform: rotate(410deg);
        -webkit-animation-timing-function: ease-in-out;
        -webkit-origin: 7%;
    }

    39% {
        opacity: 1;
        -webkit-transform: rotate(645deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin: 30%;
    }

    70% {
        opacity: 1;
        -webkit-transform: rotate(770deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin: 39%;
    }

    75% {
        opacity: 1;
        -webkit-transform: rotate(900deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin: 70%;
    }

    76% {
        opacity: 0;
        -webkit-transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        -webkit-transform: rotate(900deg);
    }
}

@-moz-keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        -moz-transform: rotate(180deg);
        -moz-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -moz-transform: rotate(300deg);
        -moz-animation-timing-function: linear;
        -moz-origin: 0%;
    }

    30% {
        opacity: 1;
        -moz-transform: rotate(410deg);
        -moz-animation-timing-function: ease-in-out;
        -moz-origin: 7%;
    }

    39% {
        opacity: 1;
        -moz-transform: rotate(645deg);
        -moz-animation-timing-function: linear;
        -moz-origin: 30%;
    }

    70% {
        opacity: 1;
        -moz-transform: rotate(770deg);
        -moz-animation-timing-function: ease-out;
        -moz-origin: 39%;
    }

    75% {
        opacity: 1;
        -moz-transform: rotate(900deg);
        -moz-animation-timing-function: ease-out;
        -moz-origin: 70%;
    }

    76% {
        opacity: 0;
        -moz-transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        -moz-transform: rotate(900deg);
    }
}



/****** preloader */
@media screen and (max-width: 768px) {
    .mobile .wrapper {
        /*padding: 25px !important;*/
    }

    .mobile .game {
        transform: scale(0.80);
        -webkit-transform-origin: 0% 0%; /* Chrome, Safari, Opera */
        transform-origin: 0% 0%;
    }
}

@media screen and (max-width: 736px) {
    .mobile .wrapper {
        padding: 0;
    }

    .mobile .game {
        transform: scale(0.76);
        -webkit-transform-origin: 0% 0%; /* Chrome, Safari, Opera */
        transform-origin: 0% 0%;
    }
}

@media screen and (max-width: 667px) {
    .mobile .wrapper {
        padding: 0;
    }

    .mobile .game {
        transform: scale(0.69);
        -webkit-transform-origin: 0% 0%; /* Chrome, Safari, Opera */
        transform-origin: 0% 0%;
    }
}

@media screen and (max-width: 640px) {
    .mobile .wrapper {
        padding: 0;
    }

    .mobile .game {
        transform: scale(0.66);
        -webkit-transform-origin: 0% 0%; /* Chrome, Safari, Opera */
        transform-origin: 0% 0%;
    }
}

@media screen and (max-width: 568px) {
    .mobile .wrapper {
        padding: 0;
    }

    .mobile .game {
        transform: scale(0.59);
        -webkit-transform-origin: 0% 0%; /* Chrome, Safari, Opera */
        transform-origin: 0% 0%;
    }
}



#explainer {
    z-index: 1000000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.8);
    color: white;
    text-align: center;
    padding: 50px 25px;
    display: none;
}

    #explainer h2 {
        font-family: 'Impact';
        font-size: 40px;
        padding-bottom: 25px;
    }

    #explainer ul > * {
        vertical-align: middle;
    }

    #explainer li {
        width: auto;
        display: inline-block;
        clear: both;
        position: relative;
        vertical-align: middle;
    }

        #explainer li:before {
            content: '';
            display: block;
            position: absolute;
            left: -20px;
            top: 16px;
            margin-right: 10px;
            width: 10px;
            height: 10px;
            position: relative;
            background: white;
            border-radius: 10px;
        }


    #explainer .exit {
        position: absolute;
        display: inline-block;
        width: 40px;
        height: 40px;
        overflow: hidden;
        top: 20px;
        right: 20px;
    }

        #explainer .exit:hover::before, #explainer .exit:hover::after {
            background: #1ebcc5;
        }

        #explainer .exit::before, #explainer .exit::after {
            content: '';
            position: absolute;
            height: 2px;
            width: 100%;
            top: 50%;
            left: 0;
            margin-top: -1px;
            background: #fff;
        }

        #explainer .exit::before {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        #explainer .exit::after {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

        #explainer .exit::before, #explainer .exit::after {
            height: 8px;
            margin-top: -4px;
        }

.pause {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 32px;
    right: 263px;
    background: url(/Content/images/pause.png);
    background-size: cover;
    cursor: pointer;
}
