<div>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="~/Content/Games/css/screens.css">

    <div class="wrapper">
        <div class="screen screen1">
            <div class="container body-content">
            <img src="/Content/images/cosmoplay.png" width="349" height="76">
<h2>Whack a Mole</h2>
<p>Οδεύεις προς την Πύλη του Circus όμως κάποια μαγεμένα αντικείμενα σε κυνηγάνε.</p>
<ul>
  <li>Έχεις στη διάθεσή σου 3 εργαλεία για να εξαφανίσεις τα αντίστοιχα αντικείμενα: 
Ένα Frisbee,  ένα μπαλάκι του τένις και μία απόχη</li>
  <li>Κάνε κλικ όσο πιο γρήγορα μπορείς με το σωστό εργαλείο επάνω στα αντικείμενα για να τα εξαφανίσεις</li>
  <li>Κορίνες =  Τις χτυπάς με το Frisbee. Εξαφανίζονται με 1 κλικ</li>
  <li>Μπαλάκια τσίρκου =  Τα πιάνεις με την Απόχη. Εξαφανίζονται με 1 κλικ</li>
  <li>Καπέλο = Τα χτυπάς με το Μπαλάκι του Τένις. Εξαφανίζονται με 1 κλικ </li>
  <li>Άλογο = Μην το χτυπήσεις!</li>
</ul>
<p>Προσοχή Εάν χτυπήσεις κάποιο αντικείμενο με λάθος εργαλείο, χάνεις πόντους</p>
</div>
            <a href="/Games/ActiveGame"><img src="~/Content/images/startbutton.png" alt=""></a>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>
        jQuery.fn.center = function () {
            this.css("position", "absolute");
            this.css("top", Math.max(0, (($(window).height() - $(this).outerHeight()) / 2) +
                $(window).scrollTop()) + "px");
            this.css("left", Math.max(0, (($(window).width() - $(this).outerWidth()) / 2) +
                $(window).scrollLeft()) + "px");
            return this;
        }
        $('.screen').center();
        $(window).on('resize', function () {
            $('.screen').center();
        });

        $(document).ready(function () {
            setTimeout(function () { $('.screen').center(); }, 150);


        });
    </script>
</div>
