<div>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="~/Content/Games/css/screens.css">

    <div class="wrapper">
        <div class="screen screen1">
            <div class="container body-content">
            <img src="/Content/images/cosmoplay.png" width="349" height="76">
<h2>Μάντεψε τι μάντεψα</h2>
<p>H Χαρτορίχτρα δε σε αφήνει να φύγεις, αν δε διαβάσεις σωστά τα χαρτιά!</p>
<p>Έχει βάλει στο μυαλό της μία σειρά 4 καρτών από τις 6 που υπάρχουν στο χέρι σου. Σκοπός του παιχνιδιού είναι να μαντέψεις ποιες είναι οι 4 αυτές κάρτες και να τις τοποθετήσεις στο τραπέζι με τη σειρά που τις έχει επιλέξει η μάντισσα.</p>
<ul>
  <li>Τοποθέτησε 4 από τις 6 κάρτες που έχεις στη διάθεσή σου στη σειρά επιλέγοντας πρώτα την κάρτα και μετά τη θέση της</li>
  <li>Πάτα το κουμπί "Δοκίμασε"</li>
  <li>Η Χαρτορίχτρα, πάνω δεξιά στην οθόνη, σου απαντάει με μία πράσινη κουκκίδα για κάθε κάρτα που είναι στη σωστή θέση, μια άσπρη κουκίδα για κάθε κάρτα που είναι σε λάθος θέση και ένα Χ για κάθε κάρτα που δεν θα έπρεπε να υπάρχει καθόλου στη σειρά των καρτών.</li>
 </ul>
<p>Αν δεν καταφέρεις να μαντέψεις τη σωστή σειρά με την 20η προσπάθεια, το παιχνίδι τελειώνει και η Χαρτορίχτρα σε προκαλεί με νέα σειρά καρτών</p>
</div>
            <a href="/Games/ActiveGame"><img src="~/Content/images/startbutton.png" alt=""></a>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>
        jQuery.fn.center = function () {
            this.css("position", "absolute");
            this.css("top", Math.max(0, (($(window).height() - $(this).outerHeight()) / 2) +
                $(window).scrollTop()) + "px");
            this.css("left", Math.max(0, (($(window).width() - $(this).outerWidth()) / 2) +
                $(window).scrollLeft()) + "px");
            return this;
        }
        $('.screen').center();
        $(window).on('resize', function () {
            $('.screen').center();
        });

        $(document).ready(function () {
            setTimeout(function () { $('.screen').center(); }, 150);


        });
    </script>
</div>
