
@font-face {
    font-family: 'GFS';
    src: url('fonts/GFSTheokritos-Regular.eot');
    src: url('fonts/GFSTheokritos-Regular.eot?#iefix') format('embedded-opentype'),url('fonts/GFSTheokritos-Regular.woff') format('woff'),url('fonts/GFSTheokritos-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}

.navbar.navbar-inverse {
    background: none;
    border: none
}

.navbar a {
    font-family: 'GFS';
    color: #fff !important
}

body {
    height: 100vh
}

.home_index, .user_index {
    background: #000 url(https://amusegr.eu/images/main-bg.jpg?v=2) top center no-repeat
}

.account_login, .account_forgotpassword, .account_confirmemail {
    background: #000 url(https://amusegr.eu/images/main-bg.jpg?v=2) center -100px no-repeat
}

.account_register {
    background: #000 url(https://amusegr.eu/images/main-bg.jpg?v=2) center top no-repeat
}

    .account_register .form-horizontal {
        background: transparent url(images/regform.png?v=2) top center no-repeat
    }

    .account_register h2, .account_register h4 {
        display: none
    }

.account_confirmemail .container.body-content {
    text-align: center;
    color: white;
    padding-top: 360px;
}

.account_confirmemail h2 {
    font-family: 'GFS';
    text-shadow: 0 2px 2px black;
}

.account_confirmemail a {
    color: white;
    text-decoration: underline;
}

.nav.navbar-nav {
    display: none
}

    .nav.navbar-nav.navbar-right {
        display: block
    }

.account_login .navbar-right, .account_register .navbar-right {
    display: none;
    opacity: 0
}

.account_register label {
}

.account_login h2 {
    display: none
}

.account_register form {
    display: block;
    padding-left: 400px;
    padding-right: 155px;
    padding-top: 100px;
    box-sizing: border-box;
    width: 1178px;
    margin: 0 auto;
}

.account_register .form-control {
    border-radius: 0;
    border: 2px solid #cc2536;
    padding: 10px;
    height: 55px;
    font-family: 'GFS';
    font-size: 18px
}

#MaritalStatus {
    border-radius: 0;
    border: 2px solid #cc2536;
    padding: 10px;
    height: 55px;
    font-family: 'GFS';
    font-size: 18px;
    width: 100%
}

.account_register .col-md-10 {
    width: 100%
}

#loginForm {
    width: 400px;
    padding-top: 240px;
    margin: 0 auto
}

    #loginForm h4 {
        display: none
    }

    #loginForm .col-md-2, #loginForm .col-md-10 {
        width: 100%;
        text-align: left;
        float: none;
        margin-right: none
    }

    #loginForm .form-group {
        position: relative;
        display: block;
        width: 100%;
        margin: 0
    }

.account_register .form-group:nth-last-child(2) {
    background: #0b4159;
    padding: 10px 10px 10px 10px;
    width: 621px;
    text-align: center;
    margin-left: 0
}

    .account_register .form-group:nth-last-child(2) .col-md-3.col-sm-3.col-xs-12 {
        width: auto !important
    }

    .account_register .form-group:nth-last-child(2):before {
        display: block;
        content: "διαλεξε τον αρτιστα που σου ταιριαζει:";
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        font-family: 'GFS';
        font-size: 20px
    }

#loginForm p {
    text-align: center;
    padding-top: 10px
}

    #loginForm p a {
        color: #fff
    }

#loginForm .btn {
    background: transparent url(images/loginbtn.png) top center no-repeat;
    width: 254px;
    height: 143px;
    font-size: 0;
    margin-left: 56px;
    border: none;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    transition: all ease .2s
}

    #loginForm .btn:hover {
        transform: translateY(-10px)
    }

#loginForm .checkbox input[type="checkbox"] {
    margin-left: 0;
    width: 25px;
    height: 25px
}

#loginForm .checkbox label {
    display: block;
    padding-top: 7px;
    padding-left: 33px;
    padding-bottom: 15px;
    color: #fff
}

#loginForm .col-md-offset-2.col-md-10 {
    margin-left: 0;
    width: 100%
}

.account_login .col-md-8 {
    width: 100%
}

#loginForm .form-control {
    padding: 15px !important;
    height: 50px
}

.jumbotron {
    background: none;
    text-align: center
}

    .jumbotron h1 {
        display: none
    }

.container hr {
    display: none !impotant;
    width: 0
}

.jumbotron .btn {
    background: transparent url(https://amusegr.eu/images/startbtn.png) top center no-repeat;
    width: 254px;
    height: 143px;
    font-size: 0;
    border: none;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    margin-top: 450px;
    transition: all ease .2s
}

    .jumbotron .btn:hover {
        margin-top: 440px
    }

.account_register input[type="submit"] {
    background: transparent url(images/registerbtn.png) top center no-repeat;
    width: 198px;
    height: 121px;
    font-size: 0;
    float: right;
    display: block;
    box-sizing: border-box;
    padding: 10px;
    position: relative;
    margin-right: 105px;
    border: none;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    transition: all ease .2s;
    z-index: 100
}

    .account_register input[type="submit"]:hover {
        transform: translateY(-10px) !important;
        cursor: pointer
    }

#__AjaxAntiForgeryForm {
    padding: 0
}

.avatar {
    display: block
}

.account_register label {
    font-family: 'GFS';
    font-size: 24px;
    font-weight: normal;
    display: inline;
    color: #1479a5
}

label.STRONGMAN, label.ACROBAT, label.MAGICIAN, label.KOMPER {
    cursor: pointer !important
}

.col-md-3:hover label.STRONGMAN:after, .col-md-3:hover label.ACROBAT:after, .col-md-3:hover label.MAGICIAN:after, .col-md-3:hover label.KOMPER:after {
    color: #ffcf27
}

input[type="radio"]:checked + label {
    color: #ffcf27
}

#UserName {
    margin-bottom: 15px
}

.account_register .container.body-content {
    width: 100% !important
}

.account_forgotpassword form {
    padding-top: 300px;
    width: 400px;
    margin: 0 auto
}

    .account_forgotpassword form input {
        width: 100%;
        height: 50px
    }

.account_forgotpassword h2 {
    color: #fff;
    font-family: 'GFS';
    text-align: center;
    text-shadow: 0 0 10px black,0 4px 0 rgba(0,0,0,.5)
}

.account_forgotpassword .btn {
    font-weight: bold;
    font-size: 0;
    height: 70px;
    text-transform: uppercase;
    background: transparent url(../images/passreminder.png) center center no-repeat;
    border: none;
    transition: all ease .2s
}

    .account_forgotpassword .btn:hover {
        transform: translateY(-4px)
    }


.navbar-nav li img {
    display: block;
    height: 50px
}

.navbar-collapse {
    padding-top: 10px;
}

.avatar .form-control {
    height: 0px;
}

.validation-summary-errors {
    background-color: #0b4159;
}

    .validation-summary-errors ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .validation-summary-errors li {
        padding: 10px;
        text-align: center;
        color: white;
        font-weight: bold;
        margin-bottom: 10px;
    }

/*.field-validation-error {
    padding: 4px;
    text-align: center;
    background-color: #0b4159;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
}*/

.LayoutInfo {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    font-family: 'GFS';
    color: white;
    padding-top: 460px;
    text-shadow: 0 2px 2px black;
}

footer .text-danger {
    text-align: center;
    color: white;
}

.games_activeexplainer .container,
.games_activegame .container,
.games_activegamemap .container {
    width: 100%;
    padding: 0;
    margin: 0
}

.games_activeexplainer .navbar,
.games_activegame .navbar,
.games_activegamemap .navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 51px;
}

    .games_activeexplainer .navbar .container,
    .games_activegame .navbar .container,
    .games_activegamemap .navbar .container {
        max-width: 960px;
        margin: 0 auto
    }

.games_activeexplainer footer,
.games_activegame footer,
.games_activegamemap footer {
    display: none;
}

.games_activeexplainer hr,
.games_activegame hr,
.games_activegamemap hr {
    width: 0;
    height: 0;
    padding: 0;
    margin: -1px 0 0 0;
}

.user_index {
    padding-top: 100px;
}

    .user_index h2 {
        color: white;
        font-size: 30px;
        font-family: 'GFS';
    }

    .user_index table {
        box-shadow: 0 0 80px rgb(180, 32, 56), 0 0 80px rgb(180, 32, 56);
        border: 3px solid rgb(180, 32, 56);
    }

    .user_index td {
        padding: 22px 15px !important;
    }

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: rgba(0,0,0,0.8);
    color: white;
    border: none;
}

.table-striped > tbody > tr:nth-child(even) > td, .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: rgba(0,0,0,0.6);
    color: white;
    border: none;
}

.user_index thead {
    color: white;
    font-family: 'GFS';
    background: rgb(180, 32, 56);
}

    .user_index thead th {
        height: 45px;
        padding-left: 15px !important;
    }

.account_register .navbar-nav {
    float: right;
}

.home_info, .home_tnc {
    padding-top: 150px;
    background: #000 url(https://amusegr.eu/images/main-bg.jpg?v=2) center top no-repeat
}

    .home_info .container, .home_tnc .container {
        background: rgba(0,0,0,.8);
        color: #fff;
        line-height: 26px
    }

    .home_info .container {
        padding-top: 30px;
        text-align: center;
    }


footer img {
    max-width: 180px;
}


.navbar-nav > li > a {
    font-size: 17px;
}

.games_activegameafter .container {
    width: 100%;
    margin: 0px;
    padding: 0;
}

.games_activegameafter footer {
    position: absolute;
    bottom: 0;
    padding: 25px;
}

.games_activegameafter {
    color: white;
}

    .games_activegameafter .navbar {
        max-width: 960px;
        margin: 0 auto;
    }
