@model WebGames.Models.ViewModels.UserScoreInfo
@{
    ViewBag.Title = "Τα Σκορ σου";
}

<h2>@ViewBag.Title</h2>

<div>

    <table class="table table-striped table-hover" id="gamescores">

        <thead>
            <tr>
                <th>Παιχνίδι</th>
                <th>Σκορ</th>
            </tr>
        </thead>

        <tbody>

            @foreach (var game in Model.GameScores)
            {
                <tr>
                    <td>@game.GameName</td>
                    <td>@game.Score</td>
                </tr>
            }

        </tbody>
    </table>

</div>
