@{
    var message = ViewBag.Message;
    //ViewBag.Title = "Info";
    if (message == "Ελέγξτε το email σας και επιβεβαιώστε τον λογαριασμό σας. Η επιβεβαίωση είναι αναγκαία για να συνδεθείτε!")
    {
    	message = "Σε λίγα λεπτά θα δεχθείς ένα mail επιβεβαίωσης και η εγγραφή σου στο Cosmoplay 2017 θα έχει ολοκληρωθεί. Σε περίπτωση που δε βρίσκεις το mail στα  'Εισερχόμενα' μην ξεχάσεις να ελέγξεις τον φάκελο 'Ανεπιθύμητη Αλληλογραφία'!";
    }
}
<h2>@*@ViewBag.Title.*@</h2>
<div class="LayoutInfo">
    <h3>@message</h3>
</div>

